@page "/Events"

<div class="dashboard" ng-controller="DashboardCtrl">
    <h1>Hello,  </h1>
    <hr />

    <button class="button--red tutorial--skip" ng-class="{'tutorial--skip--show': skipTour == true}" ng-click="finishTour()">Skip Tutorial</button>
</div>

@code {

}
