@page "/Events/Settings"

<div class="event-settings" ng-controller="SettingsCtrl" ng-cloak>
    <form>
        <div class="left">
            <h1>Create New Event</h1>
            <hr />

            <section>
                <h3>Event Information</h3>
                <label>
                    Event Name
                    <input asp-for="Event.Name" ng-model="settings.name" />
                </label>
                <label>
                    Event URL
                    <input asp-for="Event.Url" ng-model="settings.url" pattern="^[a-z0-9-]*$" ng-pattern-restrict class="url" />
                    <span class="fixed-placeholder">www.photosof.us/</span>
                </label>
                <label>
                    Event Description
                    <textarea asp-for="Event.Description" ng-model="settings.description" rows="3"></textarea>
                </label>
            </section>

            <section>
                <h3>Event Site &amp; Card Settings</h3>
                <h4>Website &amp; Card Layout</h4>

                <div class="homepage-template">
                    <figure ng-click="settings.homepageTemplate = 2" class="{{ settings.homepageTemplate == 2 ? 'selected' : ''}}">
                        <div class="check">&#10003;</div>
                        <img src="~/images/full_image.png" />
                        <h3>Full Image Background</h3>
                        <p>
                            A large, full screen image background, with all information centered within the page.
                        </p>
                    </figure>
                    <figure ng-click="settings.homepageTemplate = 0" class="{{ settings.homepageTemplate == 0 ? 'selected' : ''}}">
                        <div class="check">&#10003;</div>
                        <img src="~/images/image_right.png" />
                        <h3>1/2 Split - Image Right</h3>
                        <p>
                            A side by side layout, with a full-height image on the right, information and branding
                            on
                            the left.
                        </p>
                    </figure>
                    <figure ng-click="settings.homepageTemplate = 1" class="{{ settings.homepageTemplate == 1 ? 'selected' : ''}}">
                        <div class="check">&#10003;</div>
                        <img src="~/images/image_left.jpg" />
                        <h3>1/2 Split - Image Left</h3>
                        <p>
                            A side by side layout, with a full height image on the left, information and branding
                            on
                            the right.
                        </p>
                    </figure>
                </div>
            </section>

            <section>
                <h4>Event Cover Image</h4>
                <p>
                    Upload the file you wish to use as your main image. This template requires a minimum
                    resolution of 550 x 1040 as a Jpeg or PNG.
                </p>

                <div class="featured-image">
                    <figure ngf-drop ngf-select ng-model="settings.featuredImage" ngf-pattern="image/*" accept="image/*">
                        <img ngf-thumbnail="settings.featuredImage" alt="Cover Image" />
                        <figcaption ng-show="!settings.featuredImage">
                            Drag image here or click the button on the right to choose from your computer.
                        </figcaption>
                        <div class="close" ng-if="settings.featuredImage" ng-click="removeFeaturedImage($event)">X</div>
                    </figure>
                    <div>
                        <button ngf-select ng-model="settings.featuredImage" accept="image/*">Select Image...</button>
                        <div ng-show="settings.featuredImage">
                        <label>Overlay</label>
                        <p>
                            Using an overlay can help brighten or darken your image. This can be helpful if
                            your template
                            has overlapping text, or your image has high contrast to the rest of your website.
                        </p>
                        <label>
                            Overlay Color
                            <color-picker ng-model="settings.overlayColorCode" options="colorPickerOptions" />
                        </label>
                        <label>
                            Opacity
                            <select ng-model="settings.overlayOpacity">
                                @foreach (var opacity in Model.Opacities)
                                {
                                    <option value="@opacity">
                                        @(opacity)%
                                    </option>
                                }
                            </select>
                        </label>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <h4>Event Colors</h4>
                <p>Pick your brand colors that will be displayed on the event page. Don't worry, you can always
                    come back and change them later!</p>
                <div class="flex">
                    <label>
                        Background Color
                        <color-picker ng-model="settings.backgroundColorCode" options="colorPickerOptions" />
                    </label>
                    <label>
                        Accent Color
                        <color-picker ng-model="settings.accentColorCode" options="colorPickerOptions" />
                    </label>
                    <label>
                        Header Color
                        <color-picker ng-model="settings.headerColorCode" options="colorPickerOptions" />
                    </label>
                    <label>
                        Body Color
                        <color-picker ng-model="settings.bodyColorCode" options="colorPickerOptions" />
                    </label>
                </div>
            </section>

            @*<section>
                <h4>Content Separator</h4>
                <p>
                    A small line between your title and description. Often used to help break up text, but not
                    always essential. The colour of the separator is determined by your “accent” colour.
                </p>

                <div class="flex">
                    <label>
                        Separator Style
                        <select ng-model="settings.SeparatorStyle">
                            <option value="0">Straight Line ----------</option>
                            <option value="1">Dotted Line ...........</option>
                        </select>
                    </label>

                    <label>
                        Thickness
                        <input type="number" class="input--light-blue" ng-model="settings.SeparatorThickness" />
                    </label>

                    <label>
                        Width
                        <input type="number" class="input--light-blue" ng-model="settings.SeparatorWidth" />
                    </label>
                </div>
            </section>*@

            <section>
                <h4>Photos of Us Branding</h4>
                <p>
                    Using the Photos of Us Branding allows you to print cards completely free! You can add your own
                    branding to give your cards that extra pop!
                </p>

                <div class="branding-selector">
                    <figure ng-class="{ selected: settings.brandingStyle == 1 }" ng-click="settings.brandingStyle = 1">
                        <img src="~/images/account/dark branding@1x.png" alt="Dark Branding" />
                        <div class="check">&#10003;</div>
                    </figure>
                    <figure ng-class="{ selected: settings.brandingStyle == 2 }" ng-click="settings.brandingStyle = 2">
                        <img src="~/images/account/light branding@1x.png" alt="Light Branding" />
                        <div class="check">&#10003;</div>
                    </figure>
                    @*
                    <figure ng-class="{ selected: settings.brandingStyle == 0 }" ng-click="settings.brandingStyle = 0">
                        <img src="~/images/account/Remove Branding@1x.png" alt="No Branding" />
                        <div class="check">&#10003;</div>
                    </figure>
                    *@
                </div>
            </section>
            <button ng-click="save()" ng-disabled="!settings.name || !settings.url || !settings.description">Save &amp; Create Event</button>
        </div>

        <div class="right">
            <label>Page Preview</label>

            <header>
                <span>https://photosof.us/{{ settings.url }}</span>
            </header>
            <preview event="settings"></preview>
        </div>
    </form>
</div>