@import "../variables";

.landing {
    overflow-x: hidden;

    .logo {
        padding: 32px 0 0 96px;
    }

    .yellow-text {
        color: $yellow;
    }

    .top-photos {
        /*margin: 0;
        padding: 0px;
        //width: 100vw;
        width: calc(100% + calc(100vw - 100%));
        right: 0px; 
        overflow-x: hidden;
        max-width: 100%;*/
    }

    .bottom-photos {
        position: absolute;
        top: 2048px;
        width: 100vw;
        max-width: 100%;
    }

    .img-spread {
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }

    .img-round {
        border-radius: 8px;
    }

    .img-right {
        border-radius: 8px 0px 0px 8px;
    }

    .img-bottom {
        border-radius: 8px 8px 0px 0px;
    }

    .main-landing {
        background-color: $dark;
        width: 100%;
        height: 1024px;
        max-width: 100%;
        overflow: hidden;
        margin: 0;
        position: relative;

        .welcome-section {
            background-color: $dark;
            padding: 195px 0px 0px 10%;
        }

        .welcome-text {
            color: $yellow;
            font-size: 80px;
            font-family: 'Dosis';
            text-transform: uppercase;
            font-weight: 600;
            width: 436px;
            height: 202px;
            padding-bottom: 38px;
        }

        .tagline {
            color: $off-white;
            font-size: 28px;
            font-family: 'Open Sans';
            font-weight: 500;
            padding-bottom: 38px;
            width: 563px;
        }

        &--img-container {
            text-align: right;
            width: 64%;
            margin-left: 41%;
            position: absolute;
            overflow: hidden;
            margin-top: -95px;

            .random-photo {
                max-height: 300px;
                max-width: 300px;
                border-radius: 8px;
                margin: 8px;
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
            }
        }
    }

    .button-styling {
        background-color: $primary;
        color: $yellow;
        font-size: 20px;
        border-radius: 8px;
        box-shadow: 0;
        border: 0;
        font-weight: 500;
    }

    .start-button {
        width: 195px;
        height: 48px;
        text-decoration: none;
        padding: 10px 20px;
        outline: none;
    }

    .browse-button {
        width: 330px;
        height: 48px;
        text-decoration: none;
        line-height: 48px;
    }

    .steps {
        width: 100%;
        display: flex;
        padding: 80px 20px;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: $dark;
        font-family: 'Dosis';
        font-size: 50px;
        font-weight: 500;
        align-items: center;

        a {
            color: unset;
        }

        &--container {
            display: flex;
            flex-wrap: wrap;

            > div {
                max-height: 320px;
                max-width: 200px;
                padding: 40px 20px 20px 20px;
                text-align: center;
                border-radius: 4px;
                border: 2px solid $yellow;
                background-color: $white;
                margin: 30px 15px;

                p {
                    font-size: 16px;
                }

                h4 {
                    font-size: 22px;
                }

                img {
                    height: 80px;
                }
            }

            .arrow {
                height: 40px;
                margin-left: -32px;
                margin-right: -32px;
                margin-top: 16%;
                z-index: 10;

                @media screen and (max-width: 1115px){
                    display: none;
                }
            }
        }
    }

    .subt-1 {
        font-size: 25px;
        color: $primary;
        font-family: 'Dosis';
        font-weight: 500;
    }

    .browse {
        width: 100%;
        height: 638px;
        background-color: rgba(255, 226, 97, 0.17);
        position: relative;
        overflow: hidden;

        &--content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            align-items: center;
            position: absolute;
            left: 30%;
            right: 30%;
            margin-top: 138px;
        }

        &--img-container {
            height: 120%;
            position: absolute;
            /*display: flex;
            flex-wrap: wrap;*/
            &.right {
                width: 40%;
                margin-left: 66%;
                text-align: right;
            }

            &.left {
                width: 40%;
            }
        }

        .random-photo {
            max-height: 300px;
            max-width: 40%;
            border-radius: 8px;
            margin: -10px;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);

            &:nth-child(even) {
                margin-bottom: 20px;
            }
        }
    }

    .subt-2 {
        font-family: 'Dosis';
        font-size: 20px;
        color: $primary;
        padding-bottom: 10px;
    }

    .subt-3 {
        font-size: 18px;
        font-family: 'Open Sans';
        color: #4A4A4A;
        width: 510px;
        padding-bottom: 60px;
    }

    .subt-4 {
        font-size: 14px;
        font-family: 'Open Sans';
        color: $red;
        padding-top: 10px;
    }

    .landing-subtitle {
        color: $dark;
        font-size: 50px;
        font-family: 'Dosis';
        font-weight: 600;
        text-align: center;
        padding-bottom: 18px;
    }


    .landing-subtext {
        font-size: 20px;
        font-family: 'Open Sans';
        color: #4A4A4A;
        padding: 27px;
        text-align: center;
        width: 570px;
    }


    .footer {
        width: 100%;
        height: 300px;
        margin-bottom: 0px;
        background-color: $dark;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .links-nav {
            display: flex;
            flex-direction: row;
        }

        .navigation {
            display: flex;
            flex-direction: column;
            padding: 86px 50px 20px 50px;
        }

        .navigation a {
            font-family: 'Dosis';
            color: $yellow;
            text-decoration: none;
            line-height: 26px;
            font-weight: 600;
        }

        .nav-sm a {
            color: $primary;
        }

        .footer-right {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .code-enter {
            color: $yellow;
            margin: 43px;
            font-size: 14px;
            line-height: 28px;
        }

        .code-enter-sub {
            display: flex;
        }

        .code-input {
            height: 40px;
            width: 160px;
            padding: 0 10px;
            border: 0;
            border-radius: 8px 0px 0px 8px;
            font-family: 'Open Sans';
            font-size: 20px;
            color: $text-gray;
            outline: none;
        }

        .code-button {
            font-family: 'Open Sans';
            color: $dark;
            font-size: 20px;
            background-color: $yellow;
            border: 0;
            border-radius: 0px 8px 8px 0px;
            cursor: pointer;
            outline: none;
            text-decoration: none;
            padding: 6px 10px;
        }

        .bottom-logo {
            font-size: 20px;
            line-height: 28px;
            font-family: 'Dosis';
            color: $yellow;
            font-weight: 500;
            display: flex;
            align-content: flex-end;
        }
    }
}

@media screen and (max-width: 1230px) {
    .landing {
        .subt-3{
            width: 350px;
        }
    }
}


@media screen and (max-width: 877px) {
    .landing {
        .random-photo {
            display: none;
        }
    }
}



@media screen and (max-width: $mobile) {

    .landing {
        overflow-x: hidden;

        .landing-subtext {
            width: 100%;
            max-width: 400px;
            padding: 27px 0;
        }

        .browse--content {
            left: 15px;
            right: 15px;
            margin-top: 50px;

            .subt-3 {
                width: 100%;
            }
        }

        .browse {
            height: 500px;

            &--img-container{
                display: none;
            }
        }

        .steps {
            height: unset;
            padding: 20px 0;
            max-width: 400px;
        }

        .main-landing {
            height: unset;
            padding-bottom: 30px;

            .codePage__container__search {
                width: 100%;
                max-width: 200px;
            }

            .logo {
                padding: 18px 0 0 27px;
            }

            .welcome-section {
                padding: 28px 0 0 7%;

                .welcome-text {
                    font-size: 50px;
                    width: 100%;
                    max-width: 342px;
                    height: 150px;
                }

                .tagline {
                    width: 100%;
                    max-width: 342px;
                }
            }

            &-subtext {
                max-width: 300px;
            }

            &--img-container {
                display: none;
            }
        }

        .footer {
            flex-wrap: wrap;
            height: unset;

            .navigation {
                padding: 50px 25px 8px 42px;
            }
        }
    } 
}