@import '../variables.scss';

.photographer-profile--backdrop  {
    width: 100%;
    height: 300px;
    background-image: url(/images/photo/background.jpeg);
    background-size: cover;
    background-position: center;

    figure {
        margin: 0;
        text-align: right;
        padding: 20px 40px 0 0;

        img {
            height: 70px;
            width: auto;
        }
    }
}

.photographer-profile--wrapper {
    transform: translateY(-150px);
    -webkit-transform: translateY(-150px);

    .g-no-padding {
        padding-left: 0;
        padding-right: 0;
    }

    @media (max-width: 767px) {
        .g-no-padding-xs {
            padding: 0;
        }
    }

    .gallery-image-pad {
        padding: 10px;
    }

    .photographer-info {
        .photographer-image {
            height: 135px;
            width: 135px;
            background-size: cover;
            background-position: center;
            border-radius: 50%;
        }

        h2 {
            margin-bottom: 5px;
            font-size: 28px;
            color: #194952;
        }

        .photographer-title {
            margin-top: 0;
            color: $primary;
        }

        .photographer-bio {
            font-size: smaller;
        }
    }

    .photographer-social {
        ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            display: -webkit-flex;
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                display: inline;
                padding: 5px;

                a {
                    line-height: 0;
                    font-size: 0;
                    color: transparent;
                    padding: 10px;
                }


                .instagram {
                    background-image: url(/images/icons/Instagram-color.svg);
                    background-size: cover;
                    background-position: center;
                }

                .facebook {
                    background-image: url(/images/icons/Facebook-color.svg);
                    background-size: cover;
                    background-position: center;
                }

                .dribbl {
                    background-image: url(/images/icons/Dribbble-color.svg);
                    background-size: cover;
                    background-position: center;
                }

                .twitter {
                    background-image: url(/images/icons/Twitter-color.svg);
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }

    .gallery-search-container {
        margin-top: 50px;

        .searchbox {
            height: 30px;
            border-radius: 15px;
            background-image: url(/images/icons/search.png);
            background-repeat: no-repeat;
            background-position: center right 15px;
            width: 90%;
            padding: 0 5%;

            &::-moz-placeholder {
                color: $primary;
            }

            &:-ms-input-placeholder {
                color: $primary;
            }

            &::-webkit-input-placeholder {
                color: $primary;
            }
        }
    }

    .gallery-upload-container {
        margin-top: 50px;

        .btn-upload {
            display: block;
            text-align: center;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
            border-radius: 15px;
            border: 1px solid $primary;
            padding: 10px 15px;
            text-decoration: none;
            color: $primary;
            transition: transform .2s;

            img {
                margin-right: 5px;
                vertical-align: middle;
            }
        }

        .btn-upload:hover {
            transform: scale(1.1);
            -ms-transform: scale(1.1); /* IE 9 */
            -webkit-transform: scale(1.1); /* Safari 3-8 */
        }
    }

    .photographer-gallery-container {
        .gallery-image {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            cursor: pointer;
            outline: none;
            border-radius: 8px;
            height: 170px;
            -webkit-box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.59);
            -moz-box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.59);
            box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.59);

            @media (max-width: 991px) {
                height: 200px;
            }

            @media (max-width: 767px) {
                height: 400px;
            }
        }
    }
}
