@import '../variables.scss';

.photographer-search--backdrop {
    width: 100%;
    height: 400px;
    background-image: url(/images/photo/search_background.png);
    background-size: cover;
    background-position: center;
}

.photographer-search--backdrop figure {
    margin: 0;
    text-align: right;
    padding: 20px 40px 0 0;
}

.photographer-search--backdrop figure img {
    height: 70px;
    width: auto;
}

.photographer-search {
    width: 100%;
    position: relative;
    font-family: "Dosis";
    font-weight: 600;
    font-size: 42px;
    color: $yellow;
    letter-spacing: 0;

    &__title {
        font-family: "Dosis";
        font-weight: 600;
        font-size: 42px;
        color: #194952;
        letter-spacing: 0;
    }

    &__bigtitle {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 30%;
        right: 30%;
    }
}

.photographer-searchTerm {
    float: left;
    width: 100%;
    /*border: 3px solid #00B4CC;*/
    padding: 5px;
    height: 60px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.photographer-searchTerm:focus {
    color: #43C6BA;
}

.photographer-searchButton {
    position: absolute;
    top: -6px;
    right: -40px;
    width: 70px;
    height: 70px;
    border: 1px solid #43C6BA;
    background: #43C6BA;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 5px;
}

.photographer-searchButton img {
    padding-top: 2px;
    width: 40px;
    height: 40px;
}

/*Resize the wrap to see the search bar change!*/
.photographer-search-wrap {
    width: 40%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.codePage {

    &__background {
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

    &__background2 {
        /*max-width: 30%;
        overflow: hidden;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;*/
        position: relative;
        height: 100vh;
        margin-left: 70%;
        max-width: 580px;
        overflow: hidden;

        img {
            position: absolute;
            right: 0;
            z-index: 0;
            height: 100%;
        }
    }

    &__logo {
        height: 41px;
        width: 61px;
        border-radius: 50px;
        background: #D8D8D8;
        position: absolute;
        text-align: center;
        padding-top: 20px;
        top: 50px;
        left: 100px;
    }

    &__pouLogo {
        position: absolute;
        bottom: 29px;
        left: 61px;
    }

    &__container {
        margin: 0 auto;
        max-width: 453px;
        width: 100%;
        padding-top: 16%;
        text-align: center;
        position: relative;
        z-index: 2;
        color: $black;

        &__title {
            font-family: "Dosis";
            font-weight: 600;
            font-size: 42px;
            //color: $black;
            padding-bottom: 30px;
        }

        &__divider {
            border: 1px solid $orange;
            height: 0;
            width: 140px;
            margin: 0 auto;

            &.divider2 {
                margin: 0;
            }
        }

        &__info {
            padding: 20px 0 62px 0;
            font-family: "Open Sans";
            font-size: 18px;
            //color: $black;
            line-height: 28px;
        }

        &__search {
            border: none;
            padding: 12px 18px;
            font-family: "Open Sans";
            font-size: 20px;
            color: $dark;
            border-radius: 8px 0 0 8px;
            background: $off-white;
            outline: none;
            vertical-align: middle;
        }

        &2 {
            max-width: 70vw;
            width: 100%;
            position: absolute;
            top: 293px;
            padding: 0;

            .centered {
                max-width: 453px;
                text-align: left;
                margin: 0 auto;
                color: $black;
            }
        }
    }

    &, body {
        padding-bottom: 0;
    }

    .alt3 {
        background-color: $dark;

        .codePage__container .centered {
            color: $white;

            .divider2 {
                border: 1px solid $yellow;
            }

            .button--go {
                background: $yellow;
                color: $dark;
            }
        }
    }

    .alt4 {
        background-color: $dark;
        height: 100vh;

        .logo {
            position: absolute;
            top: 33px;
            left: 84px;
        }

        .divider2 {
            border: 1px solid $yellow;
        }

        .codePage__container2 {
            top: 205px;
        }

        .codePage__container .centered {
            color: $white;
            max-width: 620px;

            .codePage__container__info {
                padding: 20px 0 54px 0;
            }

            .button--go {
                background: $yellow;
                color: $dark;
            }

            .codePage__container__info--bottom {
                padding-top: 140px;

                .heading1 {
                    font-family: "Dosis";
                    font-weight: 600;
                    font-size: 26px;
                    color: $yellow;
                    padding-bottom: 8px;
                }

                .heading2 {
                    font-family: "Open Sans";
                    font-size: 18px;
                    color: $off-white;
                    padding-bottom: 28px;
                }

                .codePage__container__search {
                    height: 28px;
                    width: 210px;
                    padding: 4px 20px;
                    font-size: 16px;
                }

                .button--go {
                    font-size: 16px;
                    padding: 7px 8px;
                }
            }
        }
    }
}