.header--large {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    margin-bottom: 33px;
}

/* main */
#photographer-upload--wrapper {
    padding: 15px 20px;
}

    #photographer-upload--wrapper textarea {
        resize: none;
    }

    #photographer-upload--wrapper .close {
        opacity: 1;
        margin-top: 15px;
    }

    #photographer-upload--wrapper .close-icon {
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 31px;
        color: #757575;
        opacity: 0.9;
    }

/* drop zone*/
.drop-zone {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-size: 17px;
    margin: 20px 0;
    padding: 0;
    border: 0.25rem dashed #A5A5C7;
    height: 300px;
    display: table;
    width: 100%;
}

.drop-zone--label {
    font-weight: normal;
    vertical-align: middle;
    display: table-cell;
    width: 100%;
}

.nv-file-over {
    border: 0.25rem solid red;
}

/* photo preview */
#photo-preview {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    color: #F6FFFF;
    letter-spacing: 0;
    background: #194952;
    border-radius: 8px;
    padding: 0 0 15px;
    margin-bottom: 10px;
}

.photo-preview-title {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #F6FFFF;
    letter-spacing: 0;
    font-weight: normal;
    margin: 5px 0 1px 10px;
}

#photo-preview-name {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 0;
    color: #F6FFFF;
    margin: 0 0 1px 10px;
    word-wrap: break-word;
    border: 0;
    background: #194952;
}

#photo-preview-dimensions {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0;
    margin: 3px 0 0 10px;
}

#photo-preview img {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 7px;
    margin-bottom: 15px;
}

#btn-save-changes {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #FFE261;
    letter-spacing: 0;
    background-color: transparent;
    border: 2px solid #FFE261;
    border-radius: 8px;
    padding: 2px 40px 3px;
    margin: 35px 5px 2px 0;
}

#btn-discart-changes {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FF6060;
    letter-spacing: 0;
    background-color: transparent;
    border: 0;
    padding: 5px 20px;
    margin: 35px 0 2px 0;
}

/* photo list */
#photo-list {
    padding: 0 20px;
}

#photos {
    padding: 0;
}

    #photos li:hover {
        background: #e3faf8;
    }

.photo-thumbnail {
    width: 80px;
    height: 60px;
    border-radius: 8px;
}

.photo-code {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: #757575;
    letter-spacing: 0;
    margin: 0 0 2px;
}

.code {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #FFE261;
    letter-spacing: 0;
    text-align: center;
    background: #194952;
    border-radius: 6px;
    padding: 0 8px 3px;
    word-wrap: break-word;
}

.remove {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #FF6060;
    letter-spacing: 0;
    margin: 25px 0;
}

.photo-name {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #194952;
    letter-spacing: 0;
    word-wrap: break-word;
    margin: 0 0 0 5px;
}

.photo-dimensions {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #757575;
    letter-spacing: 0;
    margin-left: 7px;
}

.btn-save-and-upload {
    background: #FFE261;
    border-radius: 8px;
    font-family: 'Dosis', sans-serif;
    font-size: 22px;
    color: #FF6060;
    letter-spacing: 0;
    border: 0;
    padding: 8px 48px;
    margin-right: 5px;
    font-weight: bold;
    margin-top: 20px;
}

.upload-status {
    margin-top: 5px;
}

/* thumbnail */
canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
    margin: 6px 0 0 6px;
}
