<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Photos of Us</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.8/angular-material.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,600|Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/sweetalert2.css" rel="stylesheet" />

    <environment include="Development">
        <link rel="stylesheet" href="~/css/PoU-Site.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/PoU-Site.min.css" asp-append-version="true" />
    </environment>



</head>
<body>
    @RenderBody()
</body>
</html>
