<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PhotosOfUs.Web</title>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <environment include="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
    <environment exclude="Development">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <link href="https://fonts.googleapis.com/css?family=Dosis:400,600|Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <div>
        <nav class="nav">
            <a href="/Photographer/" class="logo"><img src="~/images/logo.png" /></a>
            <div class="nav--center" ng-controller="PhotoCtrl">
                @*<a ng-click="openUpload()" class="menu-item">Upload</a>
                <a href="/" class="menu-item">Page Title</a>
                <a href="/" class="menu-item">Page Title</a>*@                                
            </div>
            <div class="nav--right"> @*ng-if="customer"*@
                @if (User.Identity.IsAuthenticated)
                {
                    <!--Photographer Menu-->
                    <img src="~/images/icons/alert.png" alt="notifications" />
                    <img src="~/images/icons/add.png" alt="add" />
                    @*<img src="~/images/{{profile.url}}" alt="profile" ng-click="viewDropdown  = !viewDropdown" />*@
                    <div ng-click="viewDropdown  = !viewDropdown" class="profileImg"></div>
                }
                else
                {
                    @*@await Html.PartialAsync("_LoginPartial")*@
                    <a href="~/Session/SignIn">Log In</a>
                    <!--If user is customer-->
                    <img src="~/images/icons/cart-yellow.png" ng-click="cartPreview = !cartPreview" />
                }
                <img src="~/images/icons/ic_more_vert_24px.png" />
            </div>
            <div ng-if="cartPreview" class="cart--preview" id="cart--preview" ng-controller="CheckoutCtrl" ng-cloak>
                <div class="cart--preview__content">
                    <div class="cart--preview--arrow"></div>
                    <div class="heading"><span class="item">Items</span><span class="price">Price</span></div>
                    <div class="cart-items"> @*ng-repeat="item in cart">*@
                        <div>
                            <div class="type">A6 Landscape</div><div class="quantity">x1</div><div class="price">$18.00</div>
                        </div>
                        <div>
                            <div class="type">A5 Portrait</div><div class="quantity">x2</div><div class="price">$10.00</div>
                        </div>
                    </div>
                    <div class="total"><span class="label">Cart Total</span><span class="amount">$30.00</span></div>
                    <div class="button--checkout--preview" ng-click="goToCart()"><img src="~/images/icons/cart-red.png" />Checkout</div>
                </div>               
            </div>
            <div ng-if="viewDropdown" class="adminMenu" ng-cloak>
                <div class="adminMenu__arrow"></div>
                <div class="adminMenu__list"><a href="@Url.Action("Cards","Photographer")">Cards</a></div>
                <div class="adminMenu__list"><a href="#">Profile</a></div>
                <div class="adminMenu__list"><a href="~/Photographer/Dashboard">Photo Gallery</a></div>
                <div class="adminMenu__list"><a href="#">Personal Brand Settings</a></div>
                <div class="adminMenu__list"><a href="#">Sales History</a></div>
                <div class="adminMenu__list"><a href="#">Account Settings</a></div>
                <div class="adminMenu__list logout"><a href="~/Session/SignOut">Log Out</a></div>
            </div>
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <environment include="Development">
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-file-upload/dist/angular-file-upload.js"></script>
        <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="~/lib/angular-elastic/elastic.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/PoU-bundle.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-file-upload/2.3.4/angular-file-upload.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.2/ui-bootstrap-tpls.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/PoU-bundle.min.js" asp-append-version="true"></script>
    </environment>



    <script src="~/js/sweetalert2.all.js"></script>
    <link href="~/css/sweetalert2.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-aria.min.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <script>
        $(".container").click(function (e) {
            $('#cart--preview').fadeOut(300);
            $('.adminMenu').fadeOut(300);
        })
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
