@model List<CustomerOrderViewModel>
@{
    ViewData["Title"] = "Order Confirmation";
}
<div>
    <div>Thank You For Your Order!</div>
    <div class="divider"></div>
    <div>Order Information</div>
    <div>
        <div>Full Name <span></span></div>
        <div>Phone Number <span></span></div>
        <div>City & State <span></span></div>
        <div>Zip <span></span></div>
        <div>Email <span></span></div>
    </div>
    <div class="divider"></div>
    <div>
        <div>Total Items <span></span></div>
        <div>Shipping Time <span></span></div>
        <div>Total Cost <span></span></div>
    </div>
</div>