.edit-dialog {
    width: 300px;

    tags-input .tags .tag-item {
        background: rgba(67, 198, 186, 0.15) !important;
    }

    .close {
        outline: none;
        cursor: pointer;
        position: absolute;
        top: 16px;
        right: 18px;
    }

    .form {
        margin-bottom: 10px;
    }

    .form-input {
        width: 100%;
        padding-left: 20px;
        padding-right: 15px;

        input {
            width: 100%;
        }
    }

    .form-button {
        width: 100%;
        padding-right: 20px;
        padding-bottom: 5px;
    }

    button {
        float: right !important;
        width: 100px;
    }

    button:disabled {
        background-color: lightgray;
        color: black;
        cursor: not-allowed;
    }


    .md-chips {
        font-size: 13px
    }

    .md-chips md-chip {
        border-radius: 3px
    }

    .md-chips md-chip ._md-chip-remove md-icon {
        height: 14px;
        width: 14px
    }

    md-icon {
        height: 14px;
        width: 14px;
        min-height: 14px;
        min-width: 14px
    }

    .md-contact-chips .md-chips md-chip .md-contact-avatar img {
        border-radius: 3px
    }

    .chipsdemoBasicUsage .errors {
        font-size: 12px;
        color: #dd2c00;
        margin-top: 10px;
    }

    .chipsdemoBasicUsage .custom-chips md-chip {
        position: relative;
    }

    .chipsdemoBasicUsage .custom-chips md-chip ._md-chip-remove-container {
        position: absolute;
        right: 4px;
        top: 4px;
        margin-right: 0;
        height: 24px;
    }

    .chipsdemoBasicUsage .custom-chips md-chip ._md-chip-remove-container button.vegetablechip {
        position: relative;
        height: 24px;
        width: 24px;
        line-height: 30px;
        text-align: center;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        border: none;
        box-shadow: none;
        padding: 0;
        margin: 0;
        transition: background 0.15s linear;
        display: block;
    }

    .chipsdemoBasicUsage .custom-chips md-chip ._md-chip-remove-container button.vegetablechip md-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(0.7);
        color: white;
        fill: white;
    }

    .chipsdemoBasicUsage .custom-chips md-chip ._md-chip-remove-container button.vegetablechip:hover, .chipsdemoBasicUsage .custom-chips md-chip ._md-chip-remove-container button.vegetablechip:focus {
        background: rgba(255, 0, 0, 0.8);
    }

    .chipsdemoBasicUsage .custom-chips md-chip:not(.md-readonly) md-chip-template {
        padding-right: 5px;
    }
}
