.edit-dialog {
    width: 542px;
    padding-bottom: 20px;
    padding-top: 20px;
    //height: 413px;
    font-size: 11px;
    font-family: 'Dosis';

    tags-input .tags .tag-item {
        background: rgba(67, 198, 186, 0.15) !important;
    }

    .img-amount {
        font-size: 14px;
        color: #757575;
    }

    .btn-apply {
        background: #FFE261;
        border-radius: 8px;
        color: #ffffff;
        width: 100px;
        height: 34px;
        font-family: Dosis;
        font-size: 18px;
        text-align: center;
        align-content: center;
        box-shadow: 0px;
        margin: 20px;
    }

    .bottom {
        display: flex;
        justify-content: space-between;
    }

    .close {
        outline: none;
        cursor: pointer;
        position: absolute;
        top: 16px;
        right: 18px;
    }

    .input {
        padding-left: 20px;
        outline: none !important;
    }

    .label {
        padding: 8px;
    }

    .folder-name {
        font-size: 20px;
        padding: 20px;

        .input {
            width: 200px;
            outline: none !important;
            border-bottom: 1px solid #f0f0f0;
        }
    }
    /*.form {
        margin-bottom: 10px;
    }

    .form-input {
        width: 100%;
        padding-left: 20px;
        padding-right: 15px;

        input {
            width: 100%;
        }
    }

    .form-button {
        width: 100%;
        padding-right: 20px;
        padding-bottom: 5px;
    }

    button {
        float: right !important;
        width: 100px;
    }

    button:disabled {
        background-color: lightgray;
        color: black;
        cursor: not-allowed;
    }*/
}
