$yellow: #FFE261;
$white: #FFFFFF;
$primary: #43C6BA;
$dark: #194952;
$red: #FF6060;
$text-gray: #757575;
$off-white: #F6FFFF;
$black: #000000;
$orange: #FF6060;

//Mobile breakpoints
$sm-desktop: 960px;
$mobile: 450px;
