<div class="template">
    <h3>Card Template</h3>
    <div class="template__container">
        <div>
            <img src="" />
            <h5>Informational - Center</h5>
            <p>
                A minimal, clean and de-cluttered templated that contains
                all the information required with none of the extra clutter.
            </p>
        </div>
        <div>
            <img src="" />
            <h5>Informational Logo</h5>
            <p>
                A minimal, clean and de-cluttered templated that contains
                all the information required with none of the extra clutter.
            </p>
        </div>
        <div>
            <img src="" />
            <h5>Left align with picture</h5>
            <p>
                A minimal, clean and de-cluttered templated that contains
                all the information required with none of the extra clutter.
            </p>

        </div>
    </div>
</div>
<div class="settings">
    <h3>Business Card Settings (front)</h3>
    <div>
        <div class="title title--first">Front View</div>
        <img src="~/images/card/front-view.PNG"/>
    </div>
    <div>
        <div class="title">Your Personal Information</div>
        <div class="sub-title">What you want to be called and known for!</div>
        <p>This could be your name, your company name, an existing general professional label or one that you think defines you best.</p>
        <label>Your Name</label>
        <input placeholder="First Name Last Name" />
        <label>Professional Label</label>
        <input placeholder="Event Photographer" />
    </div>
    <div>
        <div class="title">Your Contact Information</div>
        <div class="sub-title">Your two preferred methods of contact</div>
        <p>Phone call, email, in-office visits, smoke signals, carrier pigeon, whatever you prefer!</p>
        <label>Contact Line One</label>
        <input placeholder="123-123-1234" />
        <label>Contact Line Two</label>
        <input placeholder="hello@photography.com" />
    </div>
</div>
<div>
    <h3>Business Card Settings (back)</h3>
    <div>
        <div class="title title--first">Back View</div>
        <img src="~/images/card/back-view.PNG" />
    </div>
    <div>
        <div class="title">Photos of Us Branding</div>
        <div class="sub-title">Use the Photos Of Us branding, or add your own!</div>
        <p>
            Using the Photos Of Us Branding allows you to use the card feature completely free,
            you just need to cover the cost of shipping. However you can add your own branding
            to give your cards that extra pop!
        </p>
    </div>
    <div>
        <div class="title">Personal Logo</div>
        <div class="sub-title">Add your very own logo</div>
        <p>
            Please upload your file as a Jpeg or PNG at a minimum resolution of 100 x 100
        </p>
    </div>
    <div>
        <div class="title">Featured Image/Color</div>
        <div class="sub-title">Upload your large, featured image or choose your own colour.</div>
        <p>
            Upload the file you wish to use as your main image. This template requires a minimum resolution of 550 x 1040 as a Jpeg or PNG.
        </p>
    </div>
</div>
<div class="add-cart" ng-controller="PaymentCtrl"> 
    <h3>Business Card Printing</h3>
    <div class="add-cart__container">
        <div>
            <div class="title--orange">Digital Download</div>
            <p>
                Download a PDF file with a pre-created set of cards for you to
                either print out at home, or take to your preferred printing shop.
            </p>
        </div>
        <div class="button--yellow" style="margin-left: 200px;">Download</div>
    </div>
    <div class="add-cart__container">
        <div>
            <div class="title--orange">Standard Stock</div>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
            </p>
        </div>
        <div class="flex">
            <div class="quantity">QTY: 50</div>
            <div class="price">$18.00</div>
            <div class="button--yellow"><img src="~/images/icons/cart-red.png" /> Add To Cart</div>
        </div>
    </div>

    <div class="add-cart__container">
        <div>
            <div class="title--orange">Premium Stock</div>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
            </p>
        </div>
        <div>
            <div class="flex">
                <div class="quantity">QTY: 50</div>
                <div class="price">$18.00</div>
                <div class="button--yellow"><img src="~/images/icons/cart-red.png" /> Add To Cart</div>
            </div>
            <div class="flex">
                <div class="quantity">QTY: 50</div>
                <div class="price">$18.00</div>
                <div class="button--yellow"><img src="~/images/icons/cart-red.png" /> Add To Cart</div>
            </div>
        </div>
    </div>

    <div class="add-cart__container">
        <div>
            <div class="title--orange">Luxe Stock</div>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
            </p>
        </div>
        <div class="flex">
            <div class="quantity">QTY: 50</div>
            <div class="price">$18.00</div>
            <div class="button--yellow"><img src="~/images/icons/cart-red.png" /> Add To Cart</div>
        </div>
    </div>
</div>