<form method="POST" class="alt4">
    <img src="~/images/logo.png" class="logo"/>
    <div class="codePage__container codePage__container2">
        <div class="centered">
            <div class="codePage__container__title">Welcome to Photos Of Us</div>
            <div class="codePage__container__divider divider2"></div>
            <div class="codePage__container__info">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus mus. Donec
            </div>
            <div class="button--learn">Learn More</div>
            <div class="codePage__container__info--bottom">
                <div class="heading1">Looking for something?</div>
                <div class="heading2">Enter your code below to find your photos</div>
                <input name="code" placeholder="Enter Your Code" class="codePage__container__search"/>
                <button type="submit" class="button--go">Go!</button>
                <div class="button--lostcode">Lost your code?</div>
            </div>
        </div>
    </div>
</form>