<form>
    <form method="POST">
        <img class="codePage__background" src="~/images/photo/abstract-background.jpeg" />
        <div class="codePage__logo">Logo</div>
        <div class="codePage__container">
            <div class="codePage__container__title">Photographer Title</div>
            <div class="codePage__container__divider"></div>
            <div class="codePage__container__info">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus mus. Donec
            </div>
            <input name="code" placeholder="Enter Your Code" class="codePage__container__search"/>
            <button type="submit" class="button--go">Go!</button>
            <div class="button--lostcode">Lost your code?</div>
        </div>
        <img src="~/images/tag.png" class="codePage__pouLogo" />
    </form>
</div>