.color-picker-input-wrapper {
    margin: 4px 40px 12px 0;
    .color-picker-swatch {
        border: 1px solid #dfdfdf;
        border-radius: 4px;
        border-right-width: 1px !important;
        padding: 6px 16px !important;
    }
    input {
        border-color: #dfdfdf;
        border-radius: 0 4px 4px 0;
        border-left: 0;
        margin-top: 0;
    }
}
