@using System.Security.Principal

@if (User.Identity.IsAuthenticated)
{
    <div class="nav--right">
        <div class="navbar-text">Hello @User.Identity.Name!</div>
        <div><a asp-area="" asp-controller="Account" asp-action="SignOut">Sign out</a></div>
    </div>
}
else
{
    <div class="nav--right login">
        <div><a asp-area="" asp-controller="Account" asp-action="Signin">Sign in</a></div>
    </div>
}
