/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4; }

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%; }

/* QR code generator */
#qrCode {
  margin: 15px; }

.photos-dashboard--wrapper .header .created-date {
  margin-top: 24px;
  margin-left: 15px;
  font-size: 18px;
  color: #FF6060;
  letter-spacing: 0;
  line-height: 28px; }

.filters {
  margin-bottom: 20px; }
  .filters .searchbox.input--light-blue {
    width: 510px; }
  .filters select {
    color: #DFDFDF; }
  .filters .view-icons .material-icons {
    color: #DFDFDF; }
  .filters .view-icons .material-icons.selected {
    color: #43C6BA; }

.photographer-dashboard--wrapper .yellow-background.line--small {
  margin-top: 35px;
  margin-bottom: 30px; }

