@import '../variables.scss';

.bulkedit-dialog {
    width: 500px;
}

.bulkedit-container {
    margin: 30px;
}

#photosnumber {
    color: rgba(0,0,0,0.87);
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-size: 16px;
    font-weight: 400;
}

#bulkedit-title {
    font-family: "Dosis";
    font-weight: 600;
    font-size: 32px;
    color: #194952;
    letter-spacing: 0;
}

.photographer-profile--backdrop  {
    width: 100%;
    height: 344px;
    background-image: url(/images/photo/background.jpeg);
    background-size: cover;
    background-position: center;

    figure {
        margin: 0;
        text-align: right;
        padding: 20px 40px 0 0;

        img {
            height: 70px;
            width: auto;
        }
    }
}

.btn-apply {
    background-color: #FFE261;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    width: 208px;
    padding: 5px 16px;
    margin-bottom: 20px;
    display: block;
    font-family: 'Dosis';
    font-weight: bold;
    font-size: 18px;
    border-width: 0px;
}

.photographer-profile--wrapper {
    transform: translateY(-134px);
    -webkit-transform: translateY(-134px);

    .g-no-padding {
        padding-left: 0;
        padding-right: 0;
    }

    @media (max-width: 767px) {
        .g-no-padding-xs {
            padding: 0;
        }
    }

    .gallery-image-pad {
        padding: 10px 16px 20px 16px;
    }

    .photographer-info {
        .photographer-image {
            height: 120px;
            width: 120px;
            background-size: cover;
            background-position: center;
            border-radius: 50%;
            margin-top: 10px;
        }

        h2 {
            margin-bottom: 5px;
            font-size: 28px;
            color: #194952;
            font-family: 'Dosis';
        }

        .photographer-title {
            margin-top: 0;
            color: $primary;
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 14px;
        }

        .photographer-bio {
            font-family: 'Open Sans';
            font-weight: lighter;
            font-size: 12px;
        }
    }

    .photographer-social {
        ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            display: -webkit-flex;
            margin: 0px;
            padding: 0px;
            list-style-type: none;

            li {
                display: inline;
                padding: 0px;

                a {
                    line-height: 0;
                    font-size: 0px;
                    color: transparent;
                    padding: 12px;
                    background-size: 12px;
                    background-position: center;
                    background-repeat: no-repeat;

                    &.twitter {
                        background-image: url(/images/icons/twitter.png);
                    }

                    &.facebook {
                        background-image: url(/images/icons/facebook.png);
                    }

                    &.dribbl {
                        background-image: url(/images/icons/dribbl.png);
                    }

                    &.instagram {
                        background-image: url(/images/icons/instagram.png);
                    }
                }
            }
        }
    }

    .gallery-search-container {
        margin-top: 50px;

        .searchbox {
            height: 32px;
            border-radius: 15px;
            background-image: url(/images/icons/search.png);
            background-repeat: no-repeat;
            background-position: center right 15px;
            width: 90%;
            padding: 0 5%;
            font-family: 'Dosis';
            font-size: 16px;
            outline: none;

            &::-moz-placeholder {
                color: $primary;
            }

            &:-ms-input-placeholder {
                color: $primary;
            }

            &::-webkit-input-placeholder {
                color: $primary;
            }
        }
    }

    .gallery-upload-container {
        margin-top: 50px;

        .btn-upload {
            display: block;
            text-align: center;
            border-radius: 15px;
            border: 1px solid $primary;
            padding: 7px 15px;
            text-decoration: none;
            color: $primary;
            transition: transform .2s;

            i {
                font-size: 20px;
                vertical-align: middle;
                margin-top: -5px;
                margin-right: 11px;
            }
        }

        .btn-upload:hover {
            transform: scale(1.1);
            -ms-transform: scale(1.1); /* IE 9 */
            -webkit-transform: scale(1.1); /* Safari 3-8 */
        }
    }

    .photographer-gallery-container {

        .contain {
            height: 170px;
            overflow: hidden;
            border-radius: 8px;
        }

        .gallery-image {
            overflow: hidden;
            height: 170px;
            object-fit: cover;
            object-position: center center;
            cursor: pointer;
            outline: none;
            border-radius: 8px;
            height: 170px;
            -webkit-box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.59);
            -moz-box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.59);
            box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.59);

            @media (max-width: 991px) {
                height: 200px;
            }

            @media (max-width: 767px) {
                height: 400px;
            }
        }
    }
}
