@using Microsoft.Extensions.Options
@inject IOptions<PhotosOfUs.Web.Extensions.StripeSettings> Stripe

@{
    ViewData["Title"] = "Cart";
}
<div class="cart" ng-controller="PaymentCtrl" data-ng-init="initStripe()">
    <h1 class="header-large">Checkout</h1>
    <div class="purchase__photo-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</div>
    <div class="divider"></div>

    <div class="checkout">
        <div style="display: flex;">
            <div>
                <div class="info-title">Delivery Information</div>
                <form action="/Photo/SaveAddress" method="POST" class="form">
                    <div class="form-input">
                        <label>First Name</label>
                        <input />
                    </div>
                    <div class="form-input">
                        <label>Last Name</label>
                        <input />
                    </div>
                    <div class="form-input">
                        <label>Phone Number</label>
                        <input />
                    </div>
                    <div class="form-input">
                        <label>City</label>
                        <input />
                    </div>
                    <div class="form-input">
                        <label>State</label>
                        <input />
                    </div>
                    <div class="form-input">
                        <label>Zip</label>
                        <input />
                    </div>
                    <div class="form-input form-input--email">
                        <label>Email</label>
                        <input />
                    </div>
                </form>

            </div>
            <div class="summary">
                <div class="title">Order Summary</div>
            </div>
        </div>     
        <div>
            <div class="info-title">Payment Details <img src="~/images/icons/payment_options.PNG" /></div>
            <div>
                <form action="/Photo/Charge" method="POST" id="payment-form">
                    <button class="button--yellow button--yellow--payment">Confirm Order</button>
                    <div class="form-row">
                        <div id="card-element"></div>
                        <div id="card-errors" role="alert"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>  
</div>