@import '../variables.scss';

.header-large {
    font-family: "Dosis";
    font-weight: 600;
    font-size: 42px;
    color: #194952;
    letter-spacing: 0;

    span{
        color: $primary;
        text-transform: uppercase;
    }
}

.header-small {
    font-family: "Dosis";
    font-weight: 600;
    font-size: 26px;
    color: #43C6BA;
    letter-spacing: 0;
}

.header-xs {
    font-family: "Dosis";
    font-weight: 600;
    font-size: 24px;
    color: #194952;
    letter-spacing: 0;
    padding-left:20px;
    
}

.header-medium {
    font-family: "Dosis";
    font-weight: 600;
    font-size: 32px;
    color: #194952;
    letter-spacing: 0;
}

.header-yellow {
    font-size: 14px;
    color: #FFE261;
    letter-spacing: 0;
}

.header {
    font-family: "Dosis";
    letter-spacing: 0;

    &.xl {
        font-size: 42px;
        font-weight: 600;
    }

    &.large {
        font-size: 32px;
        font-weight: 600;
    }

    &.medium {
        font-size: 24px;
    }

    &.small {
        font-size: 18px;
    }

    &.xs {
        font-size: 14px;
    }

    &.yellow {
        color: #FFE261;
    }

    &.dark-green {
        color: #194952;
    }

    &.light-green {
        color: #43C6BA;
    }
}