@page
@{ 
    Layout = null;
}

<div class="photographer-order">
    <div class="form-input">
        <input ng-model="quantity" type="number" placeholder="How many cards?" />
    </div>
    <div class="form-button">
        <button ng-disabled="!quantity" class="button" ng-click="orderMultipleCards(quantity)">Place Order</button>
    </div>
</div>