@page
@{
    Layout = null;
    ViewData["Title"] = "Multiple Cards";
}

<md-dialog class="newfolder-dialog">
    <md-dialog-content>
        <div class="col-md-12">
            <div class="pull-left">
                <h2 class="header-xs">Export Cards</h2>
            </div>
            <div class="pull-right">
                <div class="close" aria-label="Close" ng-click="close()"><i class="material-icons">close</i></div>
            </div>
        </div>
        <div class="col-md-12">
            <form method="POST" class="form">
                <div class="form-input">
                    <input ng-model="quantity" type="number" placeholder="How many cards?" />
                </div>
                <div class="form-button">
                    <button ng-disabled="!quantity" class="button" ng-click="exportMultipleCards(quantity)">Export</button>
                </div>

            </form>
        </div>
    </md-dialog-content>
</md-dialog>


