@{
    Layout = null;
}

<div class="priceModal">
    <i class="material-icons close" ng-click="close()">close</i>
    <h3>Pricing</h3>
    <p>
        We like to keep our pricing simple. No hidden fees, we promise.
    </p>
    <div class="flex">
        <div>
            <div class="title">Photographer Fee</div>
            <p>
                The photographer sets their own prices which
                is the amount the will make from the sale.
            </p>
        </div>
        <i class="material-icons add">add</i>
        <div>
            <div class="title">Printing Fee</div>
            <p>
                Next, we add on our printing costs based on the
                size and type of prints you have selected.
            </p>
        </div>
        <i class="material-icons add">add</i>
        <div>
            <div class="title">Shipping Costs</div>
            <p>
                Finally, select your shipping method.
            </p>
        </div>
    </div>
    <p>
        Added together, this is the total cost of your order. 
        There are no additional charges or fees from us.
    </p>
</div>