
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Home/Views/Shared/_Layout.cshtml";
}

@section ProfileImageBackdrop {
    <div class="photographer-profile--backdrop"><figure><img src="/images/kuvio-circle.png" /></figure></div>
}
    <div class="photographer-profile--wrapper" ng-controller="PhotographerCtrl" ng-cloak ng-init="getProfile(); getUser();">
        <div ng-if="photographer.IsDeactivated == true" ng-cloak style="margin-top: 150px;">
            Oops! We can't find that account. <a href="/Home/Homepage">Return Home</a>
        </div>
        <div ng-if="photographer.IsDeactivated != true">
            <div class="g-row">
                <div class="g-col-xs-12 g-col-sm-3 g-no-padding-xs">
                    <div class="photographer-info">
                        <div class="photographer-image" style="background-image: url(/images/icons/profile-icon.png)" ng-if="photographer.ProfilePhotoUrl == null"></div>

                        <div class="photographer-image" style="background-image: url({{photographer.ProfilePhotoUrl}})" ng-if="photographer.ProfilePhotoUrl != null"></div>

                        <h2>{{photographer.DisplayName ? photographer.DisplayName : photographer.FirstName + ' ' + photographer.LastName}}</h2>
                        <p class="photographer-title">{{photographer.JobPosition}}</p>
                        <p class="photographer-bio">{{photographer.Bio}}</p>
                        <div ng-if="user.IsDeactivated == true">
                            Account has been deactivated.
                        </div>
                    </div>
                    <div class="photographer-social">
                        <ul>
                            <li ng-if="photographer.Facebook"><a class="facebook" href="{{photographer.Facebook}}" target="_blank">Facebook</a></li>
                            <li ng-if="photographer.Twitter"><a class="twitter" href="{{photographer.Twitter}}" target="_blank">Twitter</a></li>
                            <li ng-if="photographer.Instagram"><a class="instagram" href="{{photographer.Instagram}}" target="_blank">Instagram</a></li>
                            <li ng-if="photographer.Dribbble"><a class="dribbl" href="{{photographer.Dribbble}}" target="_blank">Dribble</a></li>
                        </ul>
                    </div>
                    <div class="gallery-search-container">
                        <input class="input--light-blue searchbox" placeholder="Search gallery by code" ng-model="search" />
                    </div>
                        <div class="gallery-upload-container" ng-cloak ng-show="user.IsPhotographer">
                            <div ng-if="photographer.Id == user.Id" ng-cloak>
                                <a href="#" ng-click="toggleSelection()" class="btn-upload">
                                    <i class="material-icons">photo</i>    
                                    <span class="upload-text">Select Photos</span>
                                </a><br />
                                <a href="#" ng-click="openBulkEdit()" class="btn-upload">
                                    <i class="material-icons">edit</i> 
                                    <span class="upload-text">Edit Photos</span>
                                </a><br />
                                <a href="#" ng-click="openUpload()" class="btn-upload">
                                    <i class="material-icons">add_photo_alternate</i>
                                    <span class="upload-text">Click here to upload</span>
                                </a>
                            </div>
                        </div>
                </div>
                <div class="g-col-xs-12 g-col-sm-9 g-no-padding-xs">
                    <div class="photographer-gallery-container" ng-init="getProfilePhotos()">
                        <div class="g-row">
                            <div ng-repeat="photo in profilePhotos track by $index" class="g-col-xs-12 g-col-sm-6 g-col-md-4 gallery-image-pad" ng-if="photo.Code.includes(search) || search == null || search == ''"> 
                                <img class="gallery-image" src="{{photo.ThumbnailUrl}}" ng-click="isBulkEditEnabled ? selectPhoto(photo) : viewPhoto(photo.Id)" 
                                     ng-style="isBulkEditEnabled ? (isPhotoSelected(photo) ? isHighlighted : isNotHighlighted) : {}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


