@import '../variables';

.photographer-cards {
    .btn-pou-default {
        color: $primary;
        background-color: $yellow;
        border-radius: 8px;
        font-weight: bold;
        font-size: 16px;
        padding: 10px;
        float: right;
        text-decoration: none;
        margin-left: auto;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .btn-pou-default:hover {
        color: #3ba99f;
    }

    #card-downloader {
        display: none;
    }

    input{
        margin-bottom: 10px;
    }
}

.card-design {
    padding: 0 30px;
    max-width: 880px;

    h3 {
        font-family: 'Dosis';
        font-weight: 600;
        font-size: 32px;
        color: $primary;
        margin: 0;
        padding: 60px 0 20px 0;
    }

    h5 {
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 14px;
        color: #FFE261;
    }

    p {
        font-family: 'Open Sans';
        font-size: 12px;
        color: $dark;
        line-height: 20px;
    }

    .title {
        font-family: 'Dosis';
        font-weight: 600;
        font-size: 18px;
        color: $dark;
        padding: 60px 0 12px 0;
        display: flex;
        flex-wrap: wrap;

        &--orange {
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 20px;
            color: $orange;
        }

        &--first {
            padding-top: 0;
        }
    }

    .sub-title {
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 14px;
        color: $primary;
    }

    .template {

        &__container {
            display: flex;
            flex-wrap: wrap;
            height: 300px;

            > div {
                max-width: 250px;
                width: 100%;
                height: 130px;
                margin: 0 auto;
            }
        }

        img {
            width: 240px;
            cursor: pointer;

            &.selected {
                border: 2px solid #43C6BA;
                border-radius: 4px;
            }
        }
    }

    .img--main {
        max-width: 780px;
        max-height: 445px;
    }

    .settings {

        .img--featured {
            max-height: 286px;
            max-width: 329px;
        }
    }

    .add-cart {

        p {
            width: 330px;
        }

        &__container {
            display: flex;
            flex-wrap: wrap;

            .flex {
                display: flex;
                flex-wrap: wrap;
                padding: 15px 0;
            }


            a {
                text-decoration: none;
            }
        }

        .quantity {
            padding: 32px;
        }

        .price {
            padding: 32px 0;
        }

        .button {
            align-self: center;
            margin-left: 30px;
        }
    }

    label {
        display: block;
        font-family: 'Open Sans';
        font-size: 10px;
        color: $text-gray;
        padding: 12px 0 7px 0;
    }

    input {
        display: block;
        border: 1px solid $primary;
        border-radius: 3px;
        width: 100%;
        padding: 7px 16px;
    }

    .img--icon {
        height: 24px;
        width: 24px;
        margin-right: 10px;
    }
}