
@{
    ViewData["Title"] = "Account";
}

<div class="account-settings" ng-controller="PhotographerAccountCtrl" ng-init="initAccountSettings()">
    <h2 class="header-large">Account Settings</h2>
    <div class="yellow-background line--small"></div>

    <div class="container">

        <div>
            <div class="account-sidemenu">
                <div class="sidemenu-item" ng-click="setSelected('details')"><a href="#" ng-class="{'active': selected == 'details'}"><i class="material-icons">face</i> Profile Details</a></div>
                <div class="sidemenu-item"><a href="#"><i class="material-icons">opacity</i>Brand Settings</a></div>
                <div class="sidemenu-item" ng-click="setSelected('social')"><a href="#" ng-class="{'active': selected == 'social'}"><i class="material-icons">language</i>Social Accounts</a></div>
                <div class="sidemenu-item"><a href="#"><i class="material-icons">payment</i>Payment Details</a></div>
                <div class="deactivate" ng-click="deactivateModal('true', accountSettings)" ng-if="accountSettings.IsDeactivated != true" ng-cloak>Deactivate Account</div>
                <div class="deactivate" ng-click="deactivateModal('false', accountSettings)" ng-if="accountSettings.IsDeactivated == true" ng-cloak>Reactivate Account</div>
            </div>
            <div class="btn-group">
                <a href="#" class="btn-apply" ng-click="saveAccountSettings(accountSettings)">
                    <span>
                        Apply Changes
                    </span>
                    <img ng-if="showLoader" src="~/images/savegif.gif" height="20" class="loader" />
                </a>
               
                <a href="#" class="discard-link" ng-click="discardChanges()">Discard Changes</a>
            </div>

        </div>


        <div class="form-account" ng-cloak ng-if="selected == 'details'">
            <div ng-if="accountSettings.IsDeactivated == true">Your account is currently deactivated.</div>
            <div class="form-input">
                <label>Profile Photo</label>
                <div class="img-container" ng-click="uploadProfileImage()">
                    <img ng-if="!accountSettings.ProfilePhotoUrl" class="profile-image" src="~/images/avatar_512.png" />
                    <img ng-if="accountSettings.ProfilePhotoUrl != ''" class="profile-image" ng-src="{{accountSettings.ProfilePhotoUrl}}" />
                    <div class="overlay">
                        <a href="#" class="icon" title="Upload Photo">
                            <i class="material-icons">file_upload</i>
                        </a>
                    </div>
                </div>
            </div>
            <form action="/Photo/SaveAddress" method="POST" class="form">
                <div class="form-input">
                    <label>First Name</label>
                    <input ng-model="accountSettings.FirstName" />
                </div>
                <div class="form-input">
                    <label>Second Name</label>
                    <input ng-model="accountSettings.LastName" />
                </div>
                <div class="form-input">
                    <label>Display Name</label>
                    <input ng-model="accountSettings.DisplayName" />
                </div>
                <div class="form-input">
                    <label>Job Position</label>
                    <input ng-model="accountSettings.JobPosition" />
                </div>

                <div class="form-input form-input--email">
                    <label>Email</label>
                    <input ng-model="accountSettings.Email" disabled />
                    <input ng-model="accountSettings.Email" type="hidden" />
                </div>

                <div class="form-input">
                    <label>Bio</label>
                    <textarea ng-model="accountSettings.Bio"></textarea>
                </div>
            </form>

        </div>
        <div class="form-account form-account--social" ng-cloak ng-if="selected == 'social'">
            <div class="form-input">
                <label>Facebook</label>
                <input ng-model="accountSettings.Facebook"/>
            </div>
            <div class="form-input">
                <label>Twitter</label>
                <input ng-model="accountSettings.Twitter" />
            </div>
            <div class="form-input">
                <label>Instagram</label>
                <input ng-model="accountSettings.Instagram" />
            </div>
            <div class="form-input">
                <label>Dribbble</label>
                <input ng-model="accountSettings.Dribbble" />
            </div>
        </div>
    </div>
</div>

