
@{
    Layout = null;
    ViewData["Title"] = "BulkEditModal";
}

<md-dialog class="edit-dialog" ng-init="load()">
    <md-dialog-content>
        <div class="col-md-12">
            <div class="pull-left">
                <h2 class="header-xs">Bulk Edit <font class="img-amount">({{num}} images selected)</font></h2>
            </div>
            <div class="pull-right">
                <div class="close" aria-label="Close" ng-click="close()"><i class="material-icons">close</i></div>
            </div>
        </div>
        <div class="folder-name">
            <label>Folder Name:</label>
        <input placeholder="Enter a name" ng-model="folderName" />
        </div>
        <div class="input">
            <label>Tags:</label>
            <tags-input ng-model="tags"></tags-input>
            <div class="bottom">
                <div>Delete images?</div><button class="btn-apply" ng-click="updatePhotos()">Apply</button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>


