
@{
    Layout = null;
    ViewData["Title"] = "BulkEditModal";
}

<md-dialog class="edit-dialog">
    <md-dialog-content>
        <div class="col-md-12">
            <div class="pull-left">
                <h2 class="header-xs">Bulk Edit</h2>
            </div>
            <div class="pull-right">
                <div class="close" aria-label="Close" ng-click="close()"><i class="material-icons">close</i></div>
            </div>
        </div>
        @*<div class="modal--convert__row" style="padding-top: 0"  ng-repeat="tag in tags track by $index">
            <div align="center" class="photos-tags">
                <div>{{tag}}</div>
            </div>
        </div>*@
        <tags-input ng-model="tags"></tags-input>
        <div style="padding: 20px">
            <button ng-click="test()">test</button>
        </div>
    </md-dialog-content>
</md-dialog>


