
@{
    Layout = null;
}

<!DOCTYPE html>

<link rel="stylesheet" href="~/lib/ng-tags-input/ng-tags-input.min.css" />


<md-dialog class="bulkedit-dialog">
    <div class="bulkedit-container" ng-init="getTagsByPhotos()">
        <h2 id="bulkedit-title">Edit Photos  <span id="photosnumber">({{selectedPhotos.length}} images selected)</span></h2>

        <div>Tags</div>
        <div>
            <tags-input ng-model="tags" add-on-paste="true" type="text" placeholder="ex. travel, food, party">
                <auto-complete source="loadedtags"></auto-complete>
            </tags-input>
        </div>

        <div class="clearfix"></div>
        <div>
            <button ng-click="deletePhotos(selectedPhotos)">Delete Photos</button>
        </div>
        <div>
            <button type="submit" class="btn-apply" ng-click="editPhotos(selectedPhotos, tags)">
                Apply
            </button>
        </div>
        {{tags}}
        {{photosviewmodel}}
    </div>
</md-dialog>