@model List<Card>
@{
    ViewData["Title"] = "Cards";
}

<div class="photographer-dashboard--wrapper photographer-cards" ng-controller="CardCtrl" ng-init="initCardCtrl()">
    <h2 class="header-large">Your Codes</h2>
    <div class="yellow-background line--small"></div>

    <div class="flex-box filters">
        <input class="input--light-blue searchbox" placeholder="Search Code" />

        @*<div class="view-icons align-right">
            <select>
                <option>Date</option>
                <option>Code</option>
            </select>
        </div>*@

        <a href="@Url.Action("ExportNewCard","Photographer")" class="btn-pou-default">Export new card</a>
        <a href="#" ng-click="exportMultipleCardsModal()" class="btn-pou-default">Export multiple cards</a>
       
    </div>

    

    <div class="flex-box">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Code</td>
                    <td>Date</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="card in cards | orderBy: '-id'">
                    <td>{{card.code}}</td>
                    <td>{{card.createdDate | date: 'MM/dd/yyyy'}}</td>
                    <td><a class="btn btn-pou-default" ng-href="@Url.Action("ExportExistingCard", "Photographer")/{{card.id}}">Export</a></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        exportMultipleCards = function () {
            location.href = '@Url.Action("ExportNewCard", "Photographer")';

        }

    })
</script>