@model List<Card>
@{
    ViewData["Title"] = "Cards";
}

<div class="photographer-dashboard--wrapper photographer-cards" ng-controller="CardCtrl" ng-init="initCardCtrl()">
    <h2 class="header-large">Your Codes</h2>
    <div class="yellow-background line--small"></div>

    <div class="flex-box filters">
        <input class="input--light-blue searchbox" placeholder="Search Code" ng-model="searchText" />

        @*<div class="view-icons align-right">
                <select>
                    <option>Date</option>
                    <option>Code</option>
                </select>
            </div>*@

        <a href="" ng-click="exportMultipleCards(1)" class="btn-pou-default">Export new card</a>
        <a href="" ng-click="exportMultipleCardsModal()" class="btn-pou-default">Export multiple cards</a>

    </div>



    <div class="flex-box">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Code</td>
                    <td>Date</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="card in cards | orderBy: '-id' | filter:searchText | limitTo: 5:(currentPage - 1) * pageSize">
                    <td class="highlight">{{card.Code}}</td>
                    <td>{{card.CreatedDate | date: 'MM/dd/yyyy'}}</td>
                    <td><a class="btn btn-pou-default" ng-click="downloadCards([card])">Export</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="photoPage__image-container" ng-show="(codePhotos.length/pageSize) > 1">
        <ul uib-pagination total-items="cards.length" ng-model="currentPage" items-per-page="pageSize"></ul>﻿
    </div>
    <form id="card-downloader" action="@Url.Action("Export")" method="post">
        <input type="hidden" ng-repeat="card in cardsToExport" name="ids[{{$index}}]" ng-value="card.Id" />
    </form>
</div>



