@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PhotosOfUs.Web</title>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,600|Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body class="codePage">
    <div ng-controller="PhotoCtrl">
        <img class="codePage__background" src="~/images/photo/abstract-background.jpeg" />
        <div class="codePage__logo">Logo</div>
        <div class="codePage__container">
            <div class="codePage__container__title">Photographer Title</div>
            <div class="codePage__container__divider"></div>
            <div class="codePage__container__info">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus mus. Donec
            </div>
            <input ng-model="code" placeholder="Enter Your Code" class="codePage__container__search"/>
            <a data-ng-href="@Url.Action("PhotoCode", "Photographer")?code={{code}}" class="button--go">Go!</a>
            <div class="button--lostcode">Lost your code?</div>
        </div>
        <img src="~/images/tag.png" class="codePage__pouLogo" />
    </div>

    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-file-upload/dist/angular-file-upload.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/lib/angular-elastic/elastic.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-aria.min.js"></script>
</body>
</html>