@model List<FolderViewModel>
@{
    ViewData["Title"] = "Dashboard";
}

<div class="photographer-dashboard--wrapper">
    <h2 class="header-large">Good morning, Antonio</h2>
    <div class="yellow-background line--small"></div>
    @*<a href="@Url.Action("ExportCard","Photographer")" class="btn btn-pou-default">Export new cards</a>*@
    <hr />
    <div class="flex-box filters">
        <input class="input--light-blue searchbox" placeholder="Search Library"/>

        <div class="view-icons align-right">
            <div class="filter-sort">
                <select>
                    <option>Date Created</option>
                    <option>Name</option>
                </select>
            </div>

            <i class="material-icons">view_list</i>
            <i class="material-icons selected">apps</i>
        </div>
    </div>


    <div class="folder-card--wrapper flex-box" ng-controller="FolderCtrl" ng-init="initFolderCtrl()" ng-cloak>
       
            <div class="folder-card flex-box" ng-repeat="folder in folders">
                <a class="full-width-anchor" href="/Photographer/Photos/{{folder.id}}"></a>
                <div class="header flex-box">
                    <div class="grey-ball"></div>
                    <i class="material-icons align-right">more_vert</i>
                </div>
                <div class="photos">
                    <img ng-repeat="photo in folder.photos.slice(0,8)" class="tiny-photo" ng-src="{{photo.thumbnailUrl}}" />
                </div>
                <div class="folder-info">
                    <p class="title">
                        {{folder.name}}
                    </p>
                    <p class="created-date">
                        Created: {{folder.createdDate | date: 'MMM d, yyyy'}}
                    </p>
                    <p class="folder-code">Folder Code: {{folder.id}}</p>
                </div>
            </div>
        
        <div class="folder-new" ng-click="newFolderModal()">
            <img src="~/images/icons/folder.png" />
            <div class="label">New Folder</div>
        </div>
    </div>

</div>
