
@{
    Layout = null;
    ViewData["Title"] = "DeactivateModal";
}

<md-dialog class="deactivate-dialog">
    <md-dialog-content>
        <div class="col-md-12">
            <div class="pull-left">
                <h2 class="header-xs">Deactivate Account?</h2>
            </div>
            <div class="pull-right">
                <div class="close" aria-label="Close" ng-click="close()"><i class="material-icons">close</i></div>
            </div>
        </div>
        <div class="col-md-12">
            Are you sure that you wish to deactivate your account on Photos of Us? Your photos will no longer be available.
        </div>
    </md-dialog-content>
</md-dialog>


