@model SalesHistoryViewModel
@{
    ViewData["Title"] = "Sales History";
}

<div class="photographer-dashboard--wrapper photographer-sales-history">
    <h2 class="header-large">Good morning, @Model.UserDisplayName</h2>
    <div class="yellow-background line--small"></div>

    <div class="flex-box filters">
        <input class="input--light-blue searchbox" placeholder="Search Sales History" />

        <div class="view-icons align-right">
            <select>
                <option>Sales This Month</option>
                <option>--</option>
            </select>
        </div>

    </div>
    
    <div class="sales-container">
        @Html.Partial("Partials/_SalesHistoryPartial");
    </div>
</div>
