@model List<OrderViewModel>
@{
    ViewData["Title"] = "Sales History";
}

<div class="photographer-dashboard--wrapper photographer-sales-history order-history" ng-controller="CheckoutCtrl">
    <h2 class="header-large">Sales History</h2>
    <div class="yellow-background line--small"></div>

    <div class="flex-box">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Photo Sold</td>
                    <td>Quantity</td>
                    <td>Print Type</td>
                    <td>Print Price</td>
                    <td>Your Earnings</td>
                    <td>Order Status</td>
                </tr>
            </thead>

        </table>
        @foreach (var order in Model)
        {
            <div class="sales" ng-init="getOrderDetails('@order.Id')" ng-cloak>
                <div class="date">Order Date: @order.OrderDate.ToShortDateString()</div>
                <div ng-repeat="order in orderDetailsList" class="sales--row" ng-if="order.OrderId == @order.Id">
                    <div class="sales--row--name">{{order.Photo.Name}}</div>
                    <div class="sales--row--quantity">{{order.Quantity}}</div>
                    <div class="sales--row--type">{{order.PrintType.Type}}, {{order.PrintType.Height}} x {{order.PrintType.Length}}</div>
                    <div class="sales--row--price">${{order.Photo.Price + order.PrintType.BaseCost | number: 2}}</div>
                    <div class="sales--row--earning">${{order.Photo.Price}}</div>
                    <div class="sales--row--status">@order.OrderStatus</div>
                </div>
            </div>
        }

    </div>   
        <div ng-cloak class="flex-box total">
            <div class="total-counter">
                <h4>Total Sales</h4>
                <h3>${{totalSales | number: 2}}</h3>
            </div>
            <div class="total-counter">
                <h4>Total Earned</h4>
                <h3>${{totalEarned | number: 2}}</h3>
            </div>
        </div>   
</div>
