@model SalesHistoryViewModel
@{
    ViewData["Title"] = "Sales History";
}

<div class="photographer-dashboard--wrapper photographer-sales-history" ng-controller="SalesHistoryCtrl">
    <h2 class="header-large">Good morning, @Model.UserDisplayName</h2>
    <div class="yellow-background line--small"></div>

    <div class="flex-box filters">
        <input class="input--light-blue searchbox" placeholder="Search Sales History" ng-model="$scope.query" ng-change="querySalesHistory($scope.query)" ng-model-options='{ debounce: 500 }'/>

        <div class="view-icons align-right">
            <select>
                <option>Sales This Month</option>
                <option>--</option>
            </select>
        </div>

    </div>
    
    <div class="sales-container">
        <div class="overlay">
            <div class="sk-circle">
                <div class="sk-circle1 sk-child"></div>
                <div class="sk-circle2 sk-child"></div>
                <div class="sk-circle3 sk-child"></div>
                <div class="sk-circle4 sk-child"></div>
                <div class="sk-circle5 sk-child"></div>
                <div class="sk-circle6 sk-child"></div>
                <div class="sk-circle7 sk-child"></div>
                <div class="sk-circle8 sk-child"></div>
                <div class="sk-circle9 sk-child"></div>
                <div class="sk-circle10 sk-child"></div>
                <div class="sk-circle11 sk-child"></div>
                <div class="sk-circle12 sk-child"></div>
            </div>
        </div>
        <div class="sales-content">
            @Html.Partial("Partials/_SalesHistoryPartial")
        </div>
    </div>
</div>
