<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Photos of Us</title>
    <partial name="_Styles" />
</head>
<body>
    <div ng-cloak>        
        @await Component.InvokeAsync("Nav")
    </div>

    @RenderSection("ProfileImageBackdrop", false)

    <main>
        @RenderBody()
    </main>

    <partial name="_Scripts" />
    @RenderSection("Scripts", required: false)
    @await Component.InvokeAsync("AngularModel", new { model = Model })
</body>
</html>
