<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Photos of Us</title>
    <partial name="_Styles" />
</head>
<body>
    <div ng-cloak>        
            <div ng-controller="PhotographerCtrl" ng-init="getUser()">
                <nav class="nav" ng-if="user.IsPhotographer == true">
                    <a href="/Photographer" class="logo"><img src="~/images/logo.png" /></a>
                    <div class="nav--center">
                        <a href="/Photographer" class="menu-item">Dashboard</a>
                        <a href="/Photographer/Cards" class="menu-item">Cards</a>
                    </div>
                    @*todo and is photographer*@
                    <div class="nav--right">
                        @*<a href="/Photographer/SalesHistory/{{user.Id}}"><img src="~/images/icons/alert.png" alt="notifications" /></a>*@
                        <img ng-show="!user.ProfilePhotoUrl" src="~/images/avatar_512.png" ng-click="viewDropdown  = !viewDropdown" class="profileImg" />
                        <img ng-show="user.ProfilePhotoUrl" ng-src="{{user.ProfilePhotoUrl}}" ng-click="viewDropdown  = !viewDropdown" class="profileImg" />
                    </div>
                    <div ng-if="viewDropdown" class="adminMenu" ng-cloak>
                        <div class="adminMenu__arrow"></div>
                        <a class="adminMenu__list" href="/Photographer">Photo Gallery</a>
                        @*<a class="adminMenu__list" href="#">Personal Brand Settings</a>*@
                        <a class="adminMenu__list" href="/Photographer/SalesHistory/{{user.Id}}">Sales History</a>
                        <a class="adminMenu__list" href="/Photographer/Cards">Cards</a>
                        <a class="adminMenu__list" href="/Photographer/Account">Account Settings</a>
                        <a class="adminMenu__list" href="/Photographer/Profile/{{user.Id}}">Profile</a>

                        <a class="adminMenu__list logout" href="~/Session/SignOut">Log Out</a>
                    </div>
                </nav>
                <nav class="nav" ng-if="user.IsPhotographer != true && user.Id != null" ng-cloak>
                    <a href="/Photographer/Search" class="logo"><img src="~/images/logo.png" /></a>
                    <div class="nav--right">
                        <div class="img-cart" ng-controller="CheckoutCtrl">
                            <img src="~/images/icons/cart-yellow.png" ng-click="cartPreview()" alt="cart" />
                            <div ng-if="showCart == true">
                                <div class="cart--preview" id="cart--preview">
                                    <div class="cart--preview__content">
                                        <div class="cart--preview--arrow"></div>
                                        <div ng-if="order.OrderStatus == 'Open'">
                                            <div class="heading"><span class="item">Items</span><span class="price">Price</span></div>
                                            <div class="cart--preview__items">
                                                <div ng-repeat="item in order.OrderDetail" class="cart--preview__item">
                                                    <div class="type">
                                                        {{item.PrintType.Name}}
                                                    </div>
                                                    <div class="quantity">
                                                        x{{item.Quantity}}
                                                    </div>
                                                    <div class="price">
                                                        ${{item.UnitPrice | number:2}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="total"><span class="label">Cart Total</span><span class="amount">${{order.CalculatedTotal}}</span></div>
                                        </div>
                                        <div ng-if="order == ''" class="heading">No items in cart.</div>
                                        <a class="button--checkout--preview" asp-page="/Orders/Cart"><img src="~/images/icons/cart-red.png" />Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img ng-show="!user.ProfilePhotoUrl" src="~/images/avatar_512.png" ng-click="viewDropdown  = !viewDropdown" class="profileImg" />
                        <img ng-show="user.ProfilePhotoUrl" ng-src="{{user.ProfilePhotoUrl}}" ng-click="viewDropdown  = !viewDropdown" class="profileImg" />
                    </div>
                    <div class="nav--center">
                        <a href="/Photographer/Search" class="menu-item">Search</a>
                        <a href="/Photographer/PublicCode" class="menu-item">Code</a>
                    </div>
                    <div ng-if="viewDropdown" class="adminMenu" ng-cloak>
                        <div class="adminMenu__arrow"></div>
                        <a class="adminMenu__list" href="/Orders/OrderHistory">Order History</a>
                        <a class="adminMenu__list logout" href="~/Session/SignOut">Log Out</a>
                    </div>
                </nav>
                <nav class="nav" ng-if="user.IsPhotographer != true && user.Id == null" ng-controller="CheckoutCtrl" ng-cloak>
                    <a href="/Photographer/Search" class="logo"><img src="~/images/logo.png" /></a>
                    <div class="nav--right">
                        <a href="~/Session/SignIn" style="padding-right: 20px;">Log In</a>
                        <!--If user is customer-->
                        <div class="img-cart"><img src="~/images/icons/cart-yellow.png" ng-click="cartPreview()" alt="cart" /></div>
                    </div>

                    <div ng-if="showCart == true" class="cart--preview" id="cart--preview">
                        <div class="cart--preview__content">
                            <div class="cart--preview--arrow cart--preview--arrow--alt"></div>
                            <div class="heading"><span class="item">Items</span><span class="price">Price</span></div>
                            <div class="cart-items">
                                <div class="cart--preview__items">
                                    <div ng-repeat="item in order.OrderDetail" class="cart--preview__item">
                                        <div class="type">
                                            {{item.PrintType.Name}}
                                        </div>
                                        <div class="quantity">
                                            x{{item.Quantity}}
                                        </div>
                                        <div class="price">
                                            ${{item.UnitPrice | number:2}}
                                        </div>
                                    </div>
                                </div>
                                <div class="total"><span class="label">Cart Total</span><span class="amount">${{order.CalculatedTotal}}</span></div>
                                <a class="button--checkout--preview" asp-page="/Orders/Cart"><img src="~/images/icons/cart-red.png" />Checkout</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
    </div>

    @RenderSection("ProfileImageBackdrop", false)

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <partial name="_Scripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>
