@inject IJSRuntime JsRuntime

<div class="color-picker" @ref="Element"></div>

@code {
    [Parameter]
    public string Color { get; set; }

    private ElementReference Element;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        await JsRuntime.InvokeAsync<object>("initColorPicker", Element, DotNetObjectReference.Create(this));
    }

    [JSInvokable]
    public void SetColor(string color) => Color = color;
}
