@import '../wwwroot/css/Components/variables.scss';

html,body {
    font-family: 'Dosis', sans-serif;
}

p{
    font-family: 'Open Sans';
}

.home-layout {
    width: 100vw;

    .content {
        min-width: 100%;
    }
}

.social-media {
    margin-right: 10px;

    &:hover {
        text-decoration: none;
    }

    img {
        border-radius: 100%;
        width: 32px;

        &:hover {
            opacity: 0.8;
        }
    }
}


@media only screen and (min-width: 768px) {
    .home-layout {
    }
}
