.button-yellow {
    background: #FFE261;
    border-radius: 8px;
    font-family: Dosis-SemiBold;
    font-size: 16px;
    color: #FF6060;
    letter-spacing: 0;

    &.large-font {
        font-size: 22px;
    }
}
