.folder-card--wrapper {
  flex-flow: row wrap;
  margin-left: -10px;
  margin-right: -10px; }
  .folder-card--wrapper .photo-card, .folder-card--wrapper .folder-card {
    position: relative;
    border-radius: 8px;
    box-sizing: border-box;
    height: 240px;
    width: 23%;
    margin: 0 1% 20px; }
  .folder-card--wrapper .photo-card {
    background-repeat: no-repeat;
    background-size: cover; }
  .folder-card--wrapper .folder-card {
    border: 2px solid #194952; }
    .folder-card--wrapper .folder-card .header {
      margin: 4px 8px;
      width: 100%;
      align-items: center;
      height: 30px;
      margin-bottom: 0px; }
      .folder-card--wrapper .folder-card .header .grey-ball {
        width: 15px;
        height: 15px;
        background: #DFDFDF;
        border-radius: 50%; }
      .folder-card--wrapper .folder-card .header .material-icons {
        color: #43C6BA;
        position: absolute;
        right: 8px;
        z-index: 4;
        cursor: pointer; }
    .folder-card--wrapper .folder-card .photos {
      margin-top: -5px;
      margin: auto;
      padding-right: 30px; }
      .folder-card--wrapper .folder-card .photos .tiny-photo {
        width: 48px;
        height: 48px;
        border-radius: 6px;
        margin-right: -30px; }
    .folder-card--wrapper .folder-card .folder-info {
      width: 100%;
      text-align: center; }
      .folder-card--wrapper .folder-card .folder-info .title {
        font-size: 26px;
        color: #194952;
        letter-spacing: 0;
        font-weight: 500; }
      .folder-card--wrapper .folder-card .folder-info .created-date {
        font-size: 18px;
        color: #194952; }

