@import '../variables.scss';

.folder-card--wrapper {
    flex-flow: row wrap;
    margin-left: -10px;
    margin-right: -10px;

    .photo-card, .folder-card {
        position: relative;
        border-radius: 8px;
        box-sizing: border-box;
        height: 240px;
        width: 23%;
        margin: 0 1% 20px;
    }

    .photo-card {
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        outline: none;
    }

    .folder-card {
        border: 2px solid #194952;

        .header {
            margin: 4px 8px;
            width: 100%;
            align-items: center;
            height: 30px;
            margin-bottom: 0px;

            .grey-ball {
                width: 15px;
                height: 15px;
                background: #DFDFDF;
                border-radius: 50%;
            }

            .material-icons {
                color: #43C6BA;
                position: absolute;
                right: 8px;
                z-index: 4;
                cursor: pointer;
            }
        }

        .photos {
            margin-top: -5px;
            margin: auto;
            padding-right: 30px;

            .tiny-photo {
                width: 48px;
                height: 48px;
                border-radius: 6px;
                margin-right: -30px;
            }
        }

        .folder-info {
            width: 100%;
            text-align: center;

            .title {
                font-size: 26px;
                color: #194952;
                letter-spacing: 0;
                font-weight: 500;
            }

            .created-date {
                font-size: 18px;
                color: #194952;
            }
        }
    }
}
