.color-picker {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    display: flex;
    width: 105px;

    .color {
        border: 1px solid #dfdfdf;
        border-radius: 4px;
        min-width: 25%;
        width: 25px;
    }

    .text {
        color: #194952;
        padding: 4px;

        input {
            color: #194952;
            border: none;
            font-size: 15px;
            outline: none;
            width: 90%;
        }
    }
}
