.grid-vertical .row .title {
  font-family: Dosis-Regular;
  font-size: 18px;
  color: #757575;
  letter-spacing: 0; }

.grid-vertical .row .value {
  font-family: OpenSans-Semibold;
  font-size: 20px;
  color: #194952;
  letter-spacing: 0; }

.responsive-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0; }
  .responsive-grid .row-yellow {
    background: #FFE261; }
  .responsive-grid .cell {
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
    padding: 0.8em 1.2em;
    overflow: hidden;
    list-style: none;
    border: solid 3px white;
    background: fade(slategrey, 20%); }
  .responsive-grid.responsive-grid--2cols > div > .cell {
    width: 50%; }
  .responsive-grid.responsive-grid--3cols > div > .cell {
    width: 33.33%; }
  .responsive-grid.responsive-grid--4cols > div > .cell {
    width: 25%; }
  .responsive-grid.responsive-grid--5cols > div > .cell {
    width: 20%; }
  .responsive-grid.responsive-grid--6cols > div > .cell {
    width: 16.6%; }
  .responsive-grid.responsive-grid--7cols > div > .cell {
    width: 14.2%; }
  .responsive-grid.responsive-grid--8cols > div > .cell {
    width: 12.5%; }

.photo-options-grid .red {
  color: #FF6060; }

.photo-options-grid .light-blue {
  color: #43C6BA; }

.photo-options-grid .blue {
  color: #194952; }

.photo-options-grid .large {
  font-size: 20px; }

.photo-options-grid .medium {
  font-size: 18px; }

.photo-options-grid .small {
  font-size: 14px; }

.photo-options-grid span {
  letter-spacing: 0; }

@media all and (max-width: 500px) {
  .responsive-grid--collapse {
    display: block; }
    .responsive-grid--collapse > div > .cell {
      width: 100% !important; }
    .responsive-grid--collapse > .cell--foot {
      margin-bottom: 1em; } }

