.grid-vertical {
    .row {
        .title {
            font-family: Dosis-Regular;
            font-size: 18px;
            color: #757575;
            letter-spacing: 0;
        }

        .value {
            font-family: OpenSans-Semibold;
            font-size: 20px;
            color: #194952;
            letter-spacing: 0;
        }
    }
}

.responsive-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 3em 0;
    padding: 0;

    .row {
    }

    .row-yellow {
        background: #FFE261;
    }

    .cell {
        box-sizing: border-box;
        flex-grow: 1;
        width: 100%; // Default to full width
        padding: 0.8em 1.2em;
        overflow: hidden; // Or flex might break
        list-style: none;
        border: solid 3px white;
        background: fade(slategrey,20%);
    }

    &.responsive-grid--2cols > div > .cell {
        width: 50%;
    }

    &.responsive-grid--3cols > div > .cell {
        width: 33.33%;
    }

    &.responsive-grid--4cols > div > .cell {
        width: 25%;
    }

    &.responsive-grid--5cols > div > .cell {
        width: 20%;
    }

    &.responsive-grid--6cols > div > .cell {
        width: 16.6%;
    }

    &.responsive-grid--7cols > div > .cell {
        width: 14.2%;
    }

    &.responsive-grid--8cols > div > .cell {
        width: 12.5%;
    }
}

.photo-options-grid {
    .red {
        color: #FF6060;
    }

    .light-blue {
        color: #43C6BA;
    }

    .blue {
        color: #194952;
    }

    .large {
        font-size: 20px;
    }

    .medium {
        font-size: 18px;
    }

    .small {
        font-size: 14px;
    }

    span{
        letter-spacing: 0;
    }
}

$breakpoint: 500px;

@media all and (max-width: $breakpoint) {
    .responsive-grid--collapse {
        display: block;

        > div > .cell {
            width: 100% !important;
        }

        > .cell--foot {
            margin-bottom: 1em;
        }
    }
}