@import '../variables';

.nav {
    background: #43C6BA;
    margin-top: 0;
    font-size: 18px;
    color: $white;
    position: relative;
    height: 46px;
    padding: 20px 46px 0px 80px;
    display: flex;
    font-family: "Dosis";
    font-weight: 600;

    a{
        text-decoration: none;
        color: $white;
    }

    .logo {
        /*position: absolute;
        left: 80px;*/
        margin-top: -6px;
    }

    &--center{
        margin: 0 auto;

        .menu-item{
            margin: 0 26px;
            cursor: pointer;
        }
    }

    &--right {
        position: absolute;
        right: 46px;
        margin-top: -6px;

        img{
            padding: 10px;
            outline: none;
            cursor: pointer;
        }
    }
}
