@*@inject IJSRuntime JsRuntime

<div class="color-picker" @ref="Element"></div>

@code {
    [Parameter]
    public string Color { get; set; }

    private ElementRef Element;

    protected override async Task OnInitAsync()
    {
        await JsRuntime.InvokeAsync<object>("initColorPicker", Element, DotNetObjectRef.Create(this));
    }

    [JSInvokable]
    public void SetColor(string color) => Color = color;
}*@
