@inherits LayoutComponentBase

    <div class="landing-container">
        <nav class="nav" ng-cloak>
            <a href="/" class="logo"><img src="/images/logo.png" /></a>
            <div class="nav--right">
                <a href="/Session/SignIn" style="padding-right: 20px;">Log In</a>
                <!--If user is customer-->
                <!--<cart-mini>-->
            </div>
        </nav>

        @Body
    </div>