.event-settings {
    .left {
        padding-right: 55%;
    }

    .right {
        position: fixed;
        top: 250px;
        right: 60px;

        figure {
            background-color: #f6ffff;
            border: 2px solid #dfdfdf;
            border-radius: 4px;
            height: 311px;
            width: 40vw;
            margin: 10px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 13%;
            box-sizing: border-box;
            align-items: center;
            h1 {
                font: 600 16px/20px Dosis;
            }
            hr {
                width: 50px;
                margin: 8px 0;
            }
            p {
                font: 500 8px/19px "Open Sans";
                color: #000;
            }
            div {
                font-size: 2px;
            }
            input, button {
                line-height: 15px;
                display: inline;
            }
            input {
                width: 76px;
                font-size: 6px;
                padding: 0 5px 0 8px;
                border-radius: 3px 0 0 3px;
            }
            button {
                background-color: black;
                outline: none;
                color: white;
                font-size: 8px;
                line-height: 15px;
                border: none;
                border-radius: 0 3px 3px 0; 
            }
        }
    }

    section {
        margin-bottom: 120px;
    }

    input.url {
        padding-left: 140px;
    }

    img.selected {
        border: 2px solid #43C6BA;
        border-radius: 4px;
    }

    .homepage-template {
        .item {
            width: 30%;
            padding-right: 20px;
            display: inline-block; 
            vertical-align: top;  

            img { 
                max-width: 100%;
            }

            p {
                /*font-family: OpenSans;*/
                font-size: 12px;
                color: #194952;
                letter-spacing: 0;
                line-height: 20px;
            }
        }
    }

    .featured-image {
        .image {
            width: 20%;
        }

        .overlay-settings {
            h3 {
                /*font-family: OpenSans;*/
                font-size: 10px;
                color: #757575;
                letter-spacing: 0;
            }
        }
    }

    .homepage-settings {

        > img {
            max-width: 110%;
        }

        .section {
            padding-top: 30px;

            p {
                /*font-family: OpenSans;*/
                font-size: 12px;
                color: #194952;
                letter-spacing: 0;
                line-height: 20px; 
            }

            .colors {
                display: flex;

                span {
                    /*font-family: OpenSans;*/
                    font-size: 10px;
                    color: #757575;
                    letter-spacing: 0;
                }

                .color-picker {
                    margin-right: 25px;
                }
            }
        }
    }
}