@import 'variables.scss';

.btn {
    padding: 10px 40px;
    box-shadow: 0 2px 25px 0 rgba(0,0,0,0.06);
    border-radius: 6px;
    font-family: "Open Sans";
    font-weight: 600;

    i.material-icons {
        vertical-align: middle;
        margin-top: -2px;
    }

    &.btn-primary {
        color: $white;
    }

    &.btn-secondary {
        .material-icons {
            color: $red;
            vertical-align: bottom;
            margin-right: 2px;
        }
    }

    &.btn-outline-primary {
        &:hover {
            color: $white;
        }
    }

    &.btn-outline-light {
        &:hover {
            color: $primary;
        }
    }

    &.btn-sm {
        padding: 5px 20px;
        font-size: 14px;
        font-weight: 500;

        i.material-icons {
            font-size: 20px;
            margin-right: 1px;
        }
    }

    &[class^="btn-outline-"] {
        box-shadow: none !important;
    }
}