@import 'variables.scss';

.data-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;

    .card-data {
        flex: 0 0 calc(25% - 20px);
        margin: 0 0 20px 20px;
        overflow-y: auto;
    }
}

@media (max-width: 1650px) {
    .data-items {

        .card-data {
            flex: 0 0 calc(33% - 20px);
        }
    }
}

@media (max-width: 1300px) {
    .data-items {

        .card-data {
            flex: 0 0 calc(50% - 20px);
        }
    }
}

@media (max-width: 1000px) {
    .data-items {

        .card-data {
            flex: 0 0 calc(100% - 20px);
        }
    }
}

.card-photo {
    height: 350px;
    border-radius: 8px;
    background-size: cover;
    position: relative;
    height: 100%;
}




.card-add-new {
    background: #DBF1FD;
    border: solid 1px #55C1FF;
    cursor: pointer;

    > div {
        margin: auto;
        color: #55C1FF;

        i.material-icons {
            font-size: 45px;
            width: 100%;
            text-align: center;
        }

        p {
            font-size: 22px;
        }
    }
}

.user-floating-menu {
    position: absolute;
    z-index: 50;
}

.floating-buttons {
    position: relative;

    > .material-icons {
        position: absolute;
        /*right: 15px;
            top: 15px;*/
        cursor: pointer;
        z-index: 2;
        right: 0;

        &:hover + .hoverable {
            display: block !important;
        }
    }

    .floating-menu {
        position: absolute;
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
        z-index: 50;
        border-radius: 4px;
        /*-webkit-transition: all .4s cubic-bezier(.25,.8,.25,1);
            transition: all .4s cubic-bezier(.25,.8,.25,1);
            -webkit-transition-duration: 200ms;
            transition-duration: 200ms;*/
        background: white;
        top: 25px;
        right: 0px;

        .button {
            width: 100%;
        }
    }

    .hoverable {
        display: none;

        &:hover {
            display: block !important;
        }
    }
}

.arrow-down {
    &::after {
        content: '';
        position: absolute;
        top: 100%;
        width: 25px;
        height: 25px;
        left: 50%;
        background: inherit;
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

