@import 'variables.scss';

.data-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;

    .card-data {
        flex: 0 0 calc(25% - 20px);
        margin: 0 0 20px 20px;
        overflow-y: auto;
    }
}

@media (max-width: 1650px) {
    .data-items {

        .card-data {
            flex: 0 0 calc(33% - 20px);
        }
    }
}

@media (max-width: 1300px) {
    .data-items {

        .card-data {
            flex: 0 0 calc(50% - 20px);
        }
    }
}

@media (max-width: 1000px) {
    .data-items {

        .card-data {
            flex: 0 0 calc(100% - 20px);
        }
    }
}

.card-data {
    width: 367px;
    height: 356px;
    background: #FFFFFF;
    box-shadow: 0 2px 25px 0 rgba(0,0,0,0.06);
    border-radius: 6px;
    padding: 35px 20px;
    position: relative;
    border: none;

    .header-buttons {
        position: absolute;
        right: 15px;
        top: 15px;

        .material-icons {
            cursor: pointer;
        }
    }

    .header {
        font-size: 22px;
        color: #2D2E2E;
        letter-spacing: 0;
        font-weight: 600;
    }

    p.description {
        font-size: 14px;
        color: #545454;
        letter-spacing: 0;
    }

    .data {
        width: 100%;
        font-size: 18px;
        color: #545454;
        letter-spacing: 0;

        > tr > td {
            padding: 8px 0px;
        }
    }

    .field {
        label {
            display: inline-block;
            margin-bottom: 0;
            color: $grey;
            font-size: 13px;
        }

        img {
            width: 100%;
        }
    }

    .card-user-list {
        margin-left: 15px;
        .user-initials,.user-avatar{
            margin-left: -15px;
        }
    }

    &.card-data-dark {
        background: $black;

        header {
            color: $white;
        }

        .content {
            p.description {
                color: $white;
            }
        }

        table {
            color: $white;
        }
    }
}




.card-add-new {
    background: #DBF1FD;
    border: solid 1px #55C1FF;
    cursor: pointer;

    > div {
        margin: auto;
        color: #55C1FF;

        i.material-icons {
            font-size: 45px;
            width: 100%;
            text-align: center;
        }

        p {
            font-size: 22px;
        }
    }
}

.card-presentation {
    padding: unset;
    height: 444px;

    .image-header {
        img {
            width: 100%;
            box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
            border-radius: 6px 6px 0px 0px;
            object-fit: cover;
            height: 220px;
        }
    }

    .header {
        padding: 20px 20px 10px;
    }

    .content {
        padding: 0px 20px;

        .description {
            max-height: 82px;
            overflow: hidden;
        }
    }

    .footer {
        padding: 0px 20px 20px;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;

        i.material-icons-outlined, i.material-icons {
            margin-right: 5px;
        }

        span {
            font-size: 14px;
            line-height: 24px;
        }
    }
}

.user-card {
    .user-info {
        display: flex;

        > p {
            margin-bottom: 0;
        }

        .user-initials, .user-avatar {
            margin-right: 12px;
            margin-top: -5px;
        }
    }
}

.user-floating-menu {
    position: absolute;
    z-index: 50;
}

.floating-buttons {
    position: relative;

    > .material-icons {
        position: absolute;
        /*right: 15px;
            top: 15px;*/
        cursor: pointer;
        z-index: 2;
        right: 0;

        &:hover + .hoverable {
            display: block !important;
        }
    }

    .floating-menu {
        position: absolute;
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
        z-index: 50;
        border-radius: 4px;
        /*-webkit-transition: all .4s cubic-bezier(.25,.8,.25,1);
            transition: all .4s cubic-bezier(.25,.8,.25,1);
            -webkit-transition-duration: 200ms;
            transition-duration: 200ms;*/
        background: white;
        top: 25px;
        right: 0px;

        .button {
            width: 100%;
        }
    }

    .hoverable {
        display: none;

        &:hover {
            display: block !important;
        }
    }
}

.card-testimonial {
    $photo-size: 100px;
    height: 328px;
    width: 100%;
    padding: 35px 20px;

    .card-body {
        padding-top: 40px;

        .card-title, .card-subtitle {
            text-align: center;
        }

        .card-title {
            color: $black;
        }

        .card-subtitle {
            color: $grey;
        }

        .card-text {
            margin-top: 40px;
            color: $grey;
            letter-spacing: 0;
            line-height: 26px;
        }
    }



    .photo-placeholder {
        height: $photo-size;
        width: $photo-size;
        position: absolute;
        border-radius: 100%;
        top: -50px;
        left: calc(50% - 50px);
        background: $white;

        img {
            height: $photo-size - 14px;
            width: $photo-size - 14px;
            border-radius: 100%;
            margin-left: 7px;
            margin-top: 7px;
        }
    }
}

.arrow-down {
    &::after {
        content: '';
        position: absolute;
        top: 100%;
        width: 25px;
        height: 25px;
        left: 50%;
        background: inherit;
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

.card-pricing {
    box-shadow: 0 10px 50px 0 rgba(0,0,0,0.10);
    border-radius: 4px;
    background: $white;
    text-align: center;
    padding: 4rem 1rem;

    .card-body {
        p {
            color: $grey;
            margin-bottom: 0px;
        }

        button {
            letter-spacing: 1px;
            text-transform: uppercase;
            margin-top: 2rem;
            font-weight: 500;
        }

        .card-pricing-prices {
            margin-bottom: 2rem;

            h5 {
                vertical-align: top;
                margin-top: 4px;
            }

            h2 {
                font-weight: 500;
                line-height: 1;
            }

            * {
                display: inline-block;
            }
        }
    }



    .card-header {
        background: none;
        border: none;

        img {
            height: 52px;
            margin-bottom: 2rem;
        }
    }
}

.card-marketplace {
    box-shadow: 0 10px 50px 0 rgba(0,0,0,0.10);
    border-radius: 6px;
    font-weight: 600;

    .card-header {
        padding: 0px;

        img {
            width: 100%;
            box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
            border-radius: 6px 6px 0px 0px;
            object-fit: cover;
            height: 210px;
        }
    }

    .card-body {
        padding: 2rem;

        h5 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .card-marketplace-created-by, .card-marketplace-created-date {
            font-size: 14px;
            letter-spacing: 3px;
            line-height: 23px;
            text-transform: uppercase;
        }
    }
}