@import 'variables.scss';

.text-primary{
    color: $primary !important;
}

.text-grey {
    color: $grey !important;
}

.text-light-grey {
    color: $light-grey !important;
}

.text-light-green{ 
    color: $light-green !important;
}

.text-black{
    color: $black !important;
}

.text-dark-grey{ 
    color: $dark-grey !important;
}

.text-white{ 
    color: $white !important;
}

.text-yellow {
    color: $yellow !important;
}

.bg-primary {
    background-color: $primary !important;
}

.bg-grey {
    background-color: $grey !important;
}

.bg-light-grey {
    background-color: $light-grey !important;
}

.bg-light-green {
    background-color: $light-green !important;
}


.bg-black {
    background-color: $black !important;
}

.bg-dark-grey {
    background-color: $dark-grey !important;
}

.bg-white {
    background-color: $white !important;
}

.bg-yellow {
    background-color: $yellow !important;
}