.data-form {
    /*min-width: 60vw;*/

    .response {
        margin-bottom: 10px;

        label {
            font-size: 14px;
            color: rgba(46,46,46,.4)
        }

        input, textarea {
            background-color: transparent;
            border: none;
            padding-left: 12px;
            padding-right: 6px;
            padding-top: 6px;
            padding-bottom: 4px;
            border-bottom: 1px solid #000;
            outline: none;
        }
    }
}

.form-input {
    padding-bottom: 20px;
    display: block;

    label {
        color: #313943;
        font-size: 16px;
        font-weight: 500;
    }

    input, textarea, select {
        width: 100%;
        font-size: 16px;
        display: block;
        padding: 6px 15px;
    }
}

.shadow-input {
    background: #FFFFFF;
    box-shadow: 0 2px 25px 0 rgba(0,0,0,0.12);
    border-radius: 6px;
    border-radius: 6px;
    border:none;
}