@import 'variables.scss';

.landing-navbar.navbar {
    min-width: 100%;
    padding: 20px 12vw;
    background-color: $primary;

    .navbar-brand {
        img {
            height: 30px;
        }
    }

    .navbar-nav {
        .nav-item {


            .nav-link {
                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                font-size: 14px;
                color: $white;
                position: relative;

                &:hover {
                    /*background-color: rgba(255, 255, 255, 0.1);*/
                    &::after {
                        width: 100%;
                    }
                }

                &::after {
                    content: '';
                    background: #fff;
                    height: 2px;
                    width: 0px;
                    -webkit-transition: width .3s;
                    transition: width .3s;
                    display: block;
                    position: absolute;
                    bottom: -6px;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .landing-navbar.navbar {
        .navbar-nav {
            margin-left: auto;
            margin-right: 0 !important;

            .nav-item {
                .nav-link {
                    font-size: 14px;
                    padding: 10px 25px;
                    color: $white;

                    &:hover {
                        /*                        background-color: rgba(255, 255, 255, 0.1);*/
                    }
                }

                &:nth-last-child(2) {
                    margin-right: 50px;
                }

                .btn {
                    padding: 10px 40px;
                    border: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 767.98px) {
    .landing-navbar.navbar {
        .navbar-nav {
            padding-top: 15px;

            .nav-item {
                padding: 10px 0px;

                .nav-link {
                    font-size: 16px;
                    padding: 0px;
                }
            }
        }
    }
}
