@import 'variables.scss';

.table {
    thead {
        th {
            border-bottom: 1px solid $grey;
            color: $grey;
            font-weight: 400;
        }
    }
    tbody{
        td{
            font-weight: 500;
        }
    }
}