@{
    Layout = null;
    ViewData["Title"] = "PhotoEditModal";
}

<md-dialog class="edit-dialog" ng-init="test()">
    <md-dialog-content>
        <div class="col-md-12">
            <div class="pull-left">
                <h2 class="header-xs">Edit Photo</h2>
            </div>
            <div class="pull-right">
                <div class="close" aria-label="Close" ng-click="close()"><i class="material-icons">close</i></div>
            </div>
        </div>
        <div class="input">
            <label>File Name:</label>
            <input ng-model="photoName"/>
            <label>Description:</label>
            <input ng-model="photoDesc" />
            <label>Tags:</label>
            <tags-input ng-model="tags"></tags-input>
            Make image private
            <div class="bottom">
                <div>Delete image?</div><button class="btn-apply" ng-click="updatePhoto()">Save</button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>


