.preview {
    border: 2px solid #dfdfdf;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    height: 311px;
    width: 40vw;
    max-width: 600px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 13%;
    box-sizing: border-box;
    align-items: center;
    background-size: cover;
    position: relative;

    >* {
        position: relative;
        z-index: 10;
    }

    .background, .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #f6ffff;
        z-index: 4;
    }

    .overlay {
        z-index: 5;
        background-color: black;
        opacity: 0;
    }

    h1 {
        font: 600 16px/20px Dosis;
    }

    hr {
        width: 50px;
        margin: 8px 0;
    }

    p {
        font: 500 8px/19px "Open Sans";
        color: #000;
    }

    .enter-code {
        font-size: 2px;
    }

    input,
    button {
        line-height: 15px;
        display: inline-block;
    }

    input {
        width: 76px;
        font-size: 6px;
        padding: 0 5px 0 8px;
        border-radius: 3px 0 0 3px;
    }

    button {
        background-color: black;
        padding: 0 5px;
        margin-left: 2px;
        min-width: 0;
        outline: none;
        color: white;
        font-size: 8px;
        line-height: 15px;
        border: none;
        border-radius: 0 3px 3px 0;
    }

    .branding {
        position: absolute;
        bottom: 22px;
        left: 50%;
        margin-left: -27px;
        img {
            width: 54px;
            height: auto;
        }
    }

    &.code-0 {
        padding-right: 55%;
        padding-left: 22px;
        align-items: flex-start;

        .background {
            right: 50%;
            z-index: 9;
        }

        .branding {
            margin-left: 0;
            left: 22px;
        }
    }

    &.code-1 {
        padding-left: 55%;
        align-items: flex-start;

        .background {
            left: 50%;
            z-index: 9;
        }

        .branding {
            margin-left: 0;
            right: 22px;
            left: auto;
        }
    }
}
