
@*<div class="template">
    <h3>Card Template</h3>
    <div class="template__container">
        <div>
            <img src="~/images/card/card 1 copy@2x.png" ng-class="{'selected': templateSelected == 1}" ng-click="selectTemplate(1)"/>
            <h5>Informational - Center</h5>
            <p>
                A minimal, clean and de-cluttered templated that contains
                all the information required with none of the extra clutter.
            </p>
        </div>
        <div>
            <img src="~/images/card/card 2 copy@2x.png" ng-class="{'selected': templateSelected == 2}" ng-click="selectTemplate(2)"/>
            <h5>Informational Logo</h5>
            <p>
                A minimal, clean and de-cluttered templated that contains
                all the information required with none of the extra clutter.
            </p>
        </div>
        <div>
            <img src="~/images/card/card 3 copy@2x.png" ng-class="{'selected': templateSelected == 3}" ng-click="selectTemplate(3)"/>
            <h5>Left align with picture</h5>
            <p>
                A minimal, clean and de-cluttered templated that contains
                all the information required with none of the extra clutter.
            </p>

        </div>
    </div>
</div>
<div class="settings">
    <h3>Business Card Settings (front)</h3>
    <div>
        <div class="title title--first">Front View</div>
        <img src="~/images/card/front example (with numbers) copy@2x.png" class="img--main" />
    </div>
    <div>
        <div class="title">
            <div>
                <img src="~/images/card/numbers/Number Copy@1.5x.png" class="img--icon" style="margin-right: 0" />
                <i class="material-icons">add</i>
                <img src="~/images/card/numbers/Number Copy 4@1.5x.png" class="img--icon" />
            </div>
            Your Personal Information
        </div>
        <div class="sub-title">What you want to be called and known for!</div>
        <p>This could be your name, your company name, an existing general professional label or one that you think defines you best.</p>
        <label>Your Name</label>
        <input placeholder="First Name Last Name" ng-model="card.Name"/>
        <label>Professional Label</label>
        <input placeholder="Event Photographer" ng-model="card.Label"/>
    </div>
    <div>
        <div class="title">
            <img src="~/images/card/numbers/Number Copy 7@1.5x.png" class="img--icon" style="margin-right: 0" />
            <i class="material-icons">add</i>
            <img src="~/images/card/numbers/Number Copy 5@1.5x.png" class="img--icon" />
            Your Contact Information
        </div>
        <div class="sub-title">Your two preferred methods of contact</div>
        <p>Phone call, email, in-office visits, smoke signals, carrier pigeon, whatever you prefer!</p>
        <label>Contact Line One</label>
        <input placeholder="123-123-1234" ng-model="card.Contact1"/>
        <label>Contact Line Two</label>
        <input placeholder="hello@photography.com" ng-model="card.Contact2"/>
    </div>
    <div>
        <div class="title"><img src="~/images/card/numbers/Number Copy 2@1.5x.png" class="img--icon" />Featured Image</div>
        <div class="sub-title">Upload your large, featured image or choose your own color.</div>
        <p>
            Upload the file you wish to use as your main image. This template requires a minimum resolution of 550 x 1040 as a Jpeg or PNG.
        </p>
        <div>
            <img src="~/images/card/picture@2x.png" class="img--featured" />
            <div>
                <label>Overlay</label>
                <p>
                    Using an overlay can help brighten or darker your image. This can be helpful if your template has
                    overlapping text, or your image has high contrast to the rest of your website.
                </p>
                <label>Overlay Color</label>
                <label>Opacity</label>
            </div>
        </div>
    </div>
    <div>
        <div class="title"><img src="~/images/card/numbers/Number Copy 9@1.5x.png" class="img--icon" /> Brand Colors</div>
        <div class="sub-title">Give your card some Colour!</div>
        <p>
            Pick your brand colours that will be displayed on your card.
        </p>
    </div>
    <div>
        <div class="title"><img src="~/images/card/numbers/Number Copy 13@1.5x.png" class="img--icon" />Content Separator</div>
        <div class="sub-title">Adding a small detail</div>
        <p>
            A small line between your title and description. Often used to help break up text, but not always essential. 
            The colour of the separator is determined by your “accent” colour.
        </p>
    </div>
</div>
<div class="settings">
    <h3>Business Card Settings (back)</h3>
    <div>
        <div class="title title--first">Back View</div>
        <img src="~/images/card/back example (with code and number)@@2x.png"  class="img--main"/>
    </div>
    <div>
        <div class="title"><img src="~/images/card/numbers/Number Copy@1.5x.png" class="img--icon" />Photos of Us Branding</div>
        <div class="sub-title">Use the Photos Of Us branding, or add your own!</div>
        <p>
            Using the Photos Of Us Branding allows you to use the card feature completely free,
            you just need to cover the cost of shipping. However you can add your own branding
            to give your cards that extra pop!
        </p>
    </div>
    <div>
        <div class="title">Personal Logo</div>
        <div class="sub-title">Add your very own logo</div>
        <p>
            Please upload your file as a Jpeg or PNG at a minimum resolution of 100 x 100
        </p>
        <div class="upload">
            Upload
        </div>
    </div>
    <div>
        <div class="title">Featured Image/Color</div>
        <div class="sub-title">Upload your large, featured image or choose your own color.</div>
        <p>
            Upload the file you wish to use as your main image. This template requires a minimum resolution of 550 x 1040 as a Jpeg or PNG.
        </p>
        <div>
            <img src="~/images/card/featured image@2x.png" class="img--featured"/>
            <div>
                <label>Overlay</label>
                <p>
                    Using an overlay can help brighten or darker your image. This can be helpful if your template has 
                    overlapping text, or your image has high contrast to the rest of your website.
                </p>
                <label>Overlay Color</label>
                <label>Opacity</label>
            </div>
        </div>
    </div>
</div>*@
<div class="add-cart" ng-controller="PaymentCtrl"> 
    <h3>Business Card Printing</h3>
    <div class="add-cart__container">
        <div>
            <div class="title--orange">Digital Download</div>
            <p>
                Download a PDF file with a pre-created set of cards for you to
                either print out at home, or take to your preferred printing shop.
            </p>
        </div>
        <a href="/Photographer/Cards" class="button--yellow" style="margin-left: 200px;">Download</a>
    </div>
    <div class="add-cart__container">
        <div>
            <div class="title--orange">Standard Stock</div>
            <p>
                Standard Quality
            </p>
        </div>
        <div class="flex">
            <div class="quantity">QTY: 50</div>
            <div class="price">$18.00</div>
            <div class="button--yellow"><img src="~/images/icons/cart-red.png" /> Add To Cart</div>
        </div>
    </div>

    <div class="add-cart__container">
        <div>
            <div class="title--orange">Premium Stock</div>
            <p>
                Premium Quality
            </p>
        </div>
        <div>
            <div class="flex">
                <div class="quantity">QTY: 50</div>
                <div class="price">$18.00</div>
                <div class="button--yellow"><img src="~/images/icons/cart-red.png" /> Add To Cart</div>
            </div>
            <div class="flex">
                <div class="quantity">QTY: 50</div>
                <div class="price">$18.00</div>
                <div class="button--yellow"><img src="~/images/icons/cart-red.png" /> Add To Cart</div>
            </div>
        </div>
    </div>

    <div class="add-cart__container">
        <div>
            <div class="title--orange">Luxe Stock</div>
            <p>
                Top Quality
            </p>
        </div>
        <div class="flex">
            <div class="quantity">QTY: 50</div>
            <div class="price">$18.00</div>
            <div class="button--yellow"><img src="~/images/icons/cart-red.png" /> Add To Cart</div>
        </div>
    </div>
</div>