@import "../wwwroot/css/Components/variables.scss";

.pricing {
    overflow-x: hidden;

    .section1 {
        background: url('../../images/pricing_bg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: unset;
        padding-bottom: 90px;

        a {
            text-decoration: none;
        }
    }

    .slogan {
        font-size: 50px;
        font-weight: 600;
        text-align: center;
        color: $white;
    }

    .content__subinfo {
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        color: $white;
        max-width: 500px;
        margin: 30px auto;
    }

    .header {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;

        &__logo {
            margin: 30px 0;

            img {
                vertical-align: middle;
            }
        }

        &__social {
            display: inline;
            position: absolute;
            top: 42px;
            right: 96px;

            img {
                padding: 0 8px;
            }

            a {
                cursor: pointer;
                outline: none;
            }
        }
    }

    &--options {
        padding: 0 0 60px 0;
        width: 100%;
        cursor: pointer;
        outline: none;

        &__container {
            margin: 0 auto;
            max-width: 1080px;
            display: flex;
            flex-wrap: wrap;
            padding: 30px;

            > div {
                width: 340px;
                height: auto;
                background: #FCFCFC;
                box-shadow: 0 0 100px 0 rgba(25,73,82,0.30);
                border-radius: 4px;
                text-align: center;
                padding: 30px;
                margin: 10px auto;
                box-sizing: border-box;
                /*                &:nth-child(2) {
                    margin-left: -10px;
                    margin-right: -10px;
                }*/
                img {
                    max-height: 160px;
                    margin-bottom: 20px;
                }

                ul {
                    list-style: none;
                }

                li {
                    text-align: left;
                    font-size: 16px;
                    font-weight: 600;
                    padding: 10px 0;
                    color: $dark;
                    letter-spacing: 0.17px;

                    i {
                        color: $yellow;
                        padding-right: 10px;
                        vertical-align: middle;
                        font-size: 20px;
                    }

                    &.alt {
                        padding-left: 30px;
                        text-decoration: line-through;
                        color: $text-gray;
                    }
                }
            }

            .free {
                margin-right: -10px;
            }

            .option3 {
                margin-left: -10px;
            }
        }

        .selected {
            height: 700px;
            margin-top: -10px;
            margin-bottom: -5px;
            z-index: 1;
            outline: none;
        }

        .signup {
            border: 2px solid $yellow;
            border-radius: 8px;
            display: block;
            padding: 6px;
            width: 100%;
            font-weight: 600;
            font-size: 22px;
            color: #194952;
            letter-spacing: -0.12px;
            margin: 0 auto;
            cursor: pointer;
            text-decoration: none;
            background: $white;

            &--beta {
                color: $text-gray;
                border: 2px solid $text-gray;
                cursor: unset;
            }
        }

        .pricing--subtitle {
            height: 60px;
        }
    }

    .price {
        font-weight: 800;
        font-size: 32px;
        color: $primary;
        letter-spacing: 0.33px;
    }

    &--title {
        font-weight: 800;
        font-size: 30px;
        color: $dark;
        letter-spacing: 0.31px;
    }

    &--title2 {
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 24px;
        color: $primary;
        letter-spacing: 0.25px;
    }

    &--subtitle {
        font-family: 'Open Sans';
        font-size: 13px;
        color: #b2b2b2;
        letter-spacing: 0.14px;
        padding: 10px 0;
    }

    &--team {
        margin: 0 auto;
        background: $white;
        border: 2px solid #43C6BA;
        border-radius: 4px;
        height: 249px;
        width: 870px;
        display: flex;

        @media screen and (max-width: $mobile) {
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
            height: unset;
            width: unset;
            margin: 0 30px;
        }

        img {
            width: 330px;
            height: auto;

            @media screen and (max-width: $mobile) {
                align-self: center;
            }
        }

        &__content {
            padding: 18px 30px 28px 30px;

            .pricing--subtitle {
                font-size: 14px;
            }

            @media screen and (max-width: $mobile) {
                .pricing--title2, .pricing--subtitle {
                    padding: 12px 0px;
                }
            }
        }

        .teamQuote {
            width: 479px;
            background: $yellow;
            border-radius: 8px;
            color: $dark;
            font-weight: 600;
            font-size: 22px;
            text-align: center;
            cursor: pointer;

            input {
                border: none;
                border-radius: 8px;
                padding: 0 10px;
                outline: none;
                height: 32px;
                margin-top: -8px;
                vertical-align: middle;
            }

            button {
                margin: 0 -11px 0 23px;
                border: 2px solid $primary;
                border-radius: 8px;
                background: $yellow;
                color: $dark;
                font-family: 'Dosis';
                font-weight: 600;
                outline: none;
                padding: 4px 18px;
            }
        }
    }

    .button--quote {
        width: 479px;
        background: $yellow;
        border-radius: 8px;
        color: $dark;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        padding: 5px;
        cursor: pointer;
        margin-top: 6px;

        @media screen and (max-width: $mobile) {
            width: unset;
        }
    }
}
