@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");
/*$black: #1B1B1B;*/
/*$black: #1B1B1B;
//$off-black: #1C1C1C;

$grey: #AEAEAE;
$grey2: #E7E7E7;
$grey3: #F8F8F8;


$dark-grey2: #808080;

$off-dark-grey: #FAFAFB;

$light-grey: #F2F2F2;
$expand-grey: #BFC1C3;
$white: #FFFFFF;
$light: #f8f9fa;
$off-white: #F0F0F0;
$pink: #FF5B89;
$purple: #9594D4;
$background: #f4f6f9;

$red: #FF5C5C;
$warning: #CC3300;

$green: #00CC99;

$purple: #2C1B3D;

$blue: #0099CC;
$primary: #55C1FF;
$primary-2: #3CD3EC;
$off-blue: #e8f3f8;

$light-green: #B6E389;
$yellow: #FFD40C;*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

html, body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

app {
  position: relative;
  display: flex;
  flex-direction: column; }

.main {
  flex: 1; }

.main .top-row {
  background-color: #e6e6e6;
  border-bottom: 1px solid #d6d5d5; }

.main-layout .content {
  padding-top: 1.1rem; }

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.1); }

.full-height-width {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

@media (max-width: 767.98px) {
  .main .top-row {
    display: none; } }

@media (min-width: 768px) {
  app {
    flex-direction: row; }
  .main > div {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important; } }

.row {
  margin-left: 0px;
  margin-right: 0px; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-left: 0px;
  padding-right: 0px; }

.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 41; }
  .backdrop .backdrop-black {
    background-color: rgba(0, 0, 0, 0.5); }

.blazor-modal-header {
  padding: 0 !important; }

.modal-content {
  border: none;
  padding: 0 2rem 1rem 2rem; }
  .modal-content p {
    margin-bottom: 0; }
  .modal-content .data-form {
    min-width: 30vw; }

p bold {
  font-weight: 500; }

/*$black: #1B1B1B;*/
/*$black: #1B1B1B;
//$off-black: #1C1C1C;

$grey: #AEAEAE;
$grey2: #E7E7E7;
$grey3: #F8F8F8;


$dark-grey2: #808080;

$off-dark-grey: #FAFAFB;

$light-grey: #F2F2F2;
$expand-grey: #BFC1C3;
$white: #FFFFFF;
$light: #f8f9fa;
$off-white: #F0F0F0;
$pink: #FF5B89;
$purple: #9594D4;
$background: #f4f6f9;

$red: #FF5C5C;
$warning: #CC3300;

$green: #00CC99;

$purple: #2C1B3D;

$blue: #0099CC;
$primary: #55C1FF;
$primary-2: #3CD3EC;
$off-blue: #e8f3f8;

$light-green: #B6E389;
$yellow: #FFD40C;*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Acordeon styles */
.accordion {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  overflow: hidden;
  border: solid 1px #dee3e9;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 25px; }
  .accordion:nth-last-child(1) {
    margin-bottom: 0; }

.accordion .accordion-input-header {
  position: absolute;
  opacity: 0;
  z-index: -1; }

.accordion .accordion-label {
  position: relative;
  display: block;
  cursor: pointer;
  color: #000000;
  border-bottom: 1px solid #dee3e9;
  margin-bottom: 0px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 30px; }

.accordion-content {
  color: #000000;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: padding max-height 1s; }

.accordion-content p {
  color: #545454; }

/* :checked */
.accordion .accordion-input-header:checked ~ .accordion-content {
  max-height: initial;
  padding: 30px; }

/* Icon */
.accordion .accordion-label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
  margin: 8px 0px; }

.accordion .accordion-input-header[type=checkbox] + .accordion-label::after {
  content: "+"; }

.accordion .accordion-input-header[type=radio] + .accordion-label::after {
  content: "\25BC"; }

.accordion .accordion-input-header[type=checkbox]:checked + .accordion-label::after {
  transform: rotate(315deg); }

.accordion .accordion-input-header[type=radio]:checked + .accordion-label::after {
  transform: rotateX(180deg); }

/*$black: #1B1B1B;*/
/*$black: #1B1B1B;
//$off-black: #1C1C1C;

$grey: #AEAEAE;
$grey2: #E7E7E7;
$grey3: #F8F8F8;


$dark-grey2: #808080;

$off-dark-grey: #FAFAFB;

$light-grey: #F2F2F2;
$expand-grey: #BFC1C3;
$white: #FFFFFF;
$light: #f8f9fa;
$off-white: #F0F0F0;
$pink: #FF5B89;
$purple: #9594D4;
$background: #f4f6f9;

$red: #FF5C5C;
$warning: #CC3300;

$green: #00CC99;

$purple: #2C1B3D;

$blue: #0099CC;
$primary: #55C1FF;
$primary-2: #3CD3EC;
$off-blue: #e8f3f8;

$light-green: #B6E389;
$yellow: #FFD40C;*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.btn {
  padding: 10px 40px;
  box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.06);
  border-radius: 6px; }
  .btn i.material-icons {
    vertical-align: middle;
    margin-top: -2px; }
  .btn.btn-primary {
    color: #FFFFFF; }
  .btn.btn-outline-primary:hover {
    color: #FFFFFF; }
  .btn.btn-outline-light:hover {
    color: #43C6BA; }
  .btn.btn-sm {
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 500; }
    .btn.btn-sm i.material-icons {
      font-size: 20px;
      margin-right: 1px; }
  .btn[class^="btn-outline-"] {
    box-shadow: none !important; }

/*$black: #1B1B1B;*/
/*$black: #1B1B1B;
//$off-black: #1C1C1C;

$grey: #AEAEAE;
$grey2: #E7E7E7;
$grey3: #F8F8F8;


$dark-grey2: #808080;

$off-dark-grey: #FAFAFB;

$light-grey: #F2F2F2;
$expand-grey: #BFC1C3;
$white: #FFFFFF;
$light: #f8f9fa;
$off-white: #F0F0F0;
$pink: #FF5B89;
$purple: #9594D4;
$background: #f4f6f9;

$red: #FF5C5C;
$warning: #CC3300;

$green: #00CC99;

$purple: #2C1B3D;

$blue: #0099CC;
$primary: #55C1FF;
$primary-2: #3CD3EC;
$off-blue: #e8f3f8;

$light-green: #B6E389;
$yellow: #FFD40C;*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.data-items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px; }
  .data-items .card-data {
    flex: 0 0 calc(25% - 20px);
    margin: 0 0 20px 20px;
    overflow-y: auto; }

@media (max-width: 1650px) {
  .data-items .card-data {
    flex: 0 0 calc(33% - 20px); } }

@media (max-width: 1300px) {
  .data-items .card-data {
    flex: 0 0 calc(50% - 20px); } }

@media (max-width: 1000px) {
  .data-items .card-data {
    flex: 0 0 calc(100% - 20px); } }

.card-data {
  width: 367px;
  height: 356px;
  background: #FFFFFF;
  box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  padding: 35px 20px;
  position: relative;
  border: none; }
  .card-data .header-buttons {
    position: absolute;
    right: 15px;
    top: 15px; }
    .card-data .header-buttons .material-icons {
      cursor: pointer; }
  .card-data .header {
    font-size: 22px;
    color: #2D2E2E;
    letter-spacing: 0;
    font-weight: 600; }
  .card-data p.description {
    font-size: 14px;
    color: #545454;
    letter-spacing: 0; }
  .card-data .data {
    width: 100%;
    font-size: 18px;
    color: #545454;
    letter-spacing: 0; }
    .card-data .data > tr > td {
      padding: 8px 0px; }
  .card-data .field label {
    display: inline-block;
    margin-bottom: 0;
    color: #757575;
    font-size: 13px; }
  .card-data .field img {
    width: 100%; }
  .card-data .card-user-list {
    margin-left: 15px; }
    .card-data .card-user-list .user-initials, .card-data .card-user-list .user-avatar {
      margin-left: -15px; }
  .card-data.card-data-dark {
    background: #000000; }
    .card-data.card-data-dark header {
      color: #FFFFFF; }
    .card-data.card-data-dark .content p.description {
      color: #FFFFFF; }
    .card-data.card-data-dark table {
      color: #FFFFFF; }

.card-add-new {
  background: #DBF1FD;
  border: solid 1px #55C1FF;
  cursor: pointer; }
  .card-add-new > div {
    margin: auto;
    color: #55C1FF; }
    .card-add-new > div i.material-icons {
      font-size: 45px;
      width: 100%;
      text-align: center; }
    .card-add-new > div p {
      font-size: 22px; }

.card-presentation {
  padding: unset;
  height: 444px; }
  .card-presentation .image-header img {
    width: 100%;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px 6px 0px 0px;
    object-fit: cover;
    height: 220px; }
  .card-presentation .header {
    padding: 20px 20px 10px; }
  .card-presentation .content {
    padding: 0px 20px; }
    .card-presentation .content .description {
      max-height: 82px;
      overflow: hidden; }
  .card-presentation .footer {
    padding: 0px 20px 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0; }
    .card-presentation .footer i.material-icons-outlined, .card-presentation .footer i.material-icons {
      margin-right: 5px; }
    .card-presentation .footer span {
      font-size: 14px;
      line-height: 24px; }

.user-card .user-info {
  display: flex; }
  .user-card .user-info > p {
    margin-bottom: 0; }
  .user-card .user-info .user-initials, .user-card .user-info .user-avatar {
    margin-right: 12px;
    margin-top: -5px; }

.user-floating-menu {
  position: absolute;
  z-index: 50; }

.floating-buttons {
  position: relative; }
  .floating-buttons > .material-icons {
    position: absolute;
    /*right: 15px;
            top: 15px;*/
    cursor: pointer;
    z-index: 2;
    right: 0; }
    .floating-buttons > .material-icons:hover + .hoverable {
      display: block !important; }
  .floating-buttons .floating-menu {
    position: absolute;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 50;
    border-radius: 4px;
    /*-webkit-transition: all .4s cubic-bezier(.25,.8,.25,1);
            transition: all .4s cubic-bezier(.25,.8,.25,1);
            -webkit-transition-duration: 200ms;
            transition-duration: 200ms;*/
    background: white;
    top: 25px;
    right: 0px; }
    .floating-buttons .floating-menu .button {
      width: 100%; }
  .floating-buttons .hoverable {
    display: none; }
    .floating-buttons .hoverable:hover {
      display: block !important; }

.card-testimonial {
  height: 328px;
  width: 100%;
  padding: 35px 20px; }
  .card-testimonial .card-body {
    padding-top: 40px; }
    .card-testimonial .card-body .card-title, .card-testimonial .card-body .card-subtitle {
      text-align: center; }
    .card-testimonial .card-body .card-title {
      color: #000000; }
    .card-testimonial .card-body .card-subtitle {
      color: #757575; }
    .card-testimonial .card-body .card-text {
      margin-top: 40px;
      color: #757575;
      letter-spacing: 0;
      line-height: 26px; }
  .card-testimonial .photo-placeholder {
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 100%;
    top: -50px;
    left: calc(50% - 50px);
    background: #FFFFFF; }
    .card-testimonial .photo-placeholder img {
      height: 86px;
      width: 86px;
      border-radius: 100%;
      margin-left: 7px;
      margin-top: 7px; }

.arrow-down::after {
  content: '';
  position: absolute;
  top: 100%;
  width: 25px;
  height: 25px;
  left: 50%;
  background: inherit;
  transform: translate(-50%, -50%) rotate(45deg); }

.card-pricing {
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: #FFFFFF;
  text-align: center;
  padding: 4rem 1rem; }
  .card-pricing .card-body p {
    color: #757575;
    margin-bottom: 0px; }
  .card-pricing .card-body button {
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 2rem;
    font-weight: 500; }
  .card-pricing .card-body .card-pricing-prices {
    margin-bottom: 2rem; }
    .card-pricing .card-body .card-pricing-prices h5 {
      vertical-align: top;
      margin-top: 4px; }
    .card-pricing .card-body .card-pricing-prices h2 {
      font-weight: 500;
      line-height: 1; }
    .card-pricing .card-body .card-pricing-prices * {
      display: inline-block; }
  .card-pricing .card-header {
    background: none;
    border: none; }
    .card-pricing .card-header img {
      height: 52px;
      margin-bottom: 2rem; }

.card-marketplace {
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  font-weight: 600; }
  .card-marketplace .card-header {
    padding: 0px; }
    .card-marketplace .card-header img {
      width: 100%;
      box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
      border-radius: 6px 6px 0px 0px;
      object-fit: cover;
      height: 210px; }
  .card-marketplace .card-body {
    padding: 2rem; }
    .card-marketplace .card-body h5 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .card-marketplace .card-body .card-marketplace-created-by, .card-marketplace .card-body .card-marketplace-created-date {
      font-size: 14px;
      letter-spacing: 3px;
      line-height: 23px;
      text-transform: uppercase; }

/*$black: #1B1B1B;*/
/*$black: #1B1B1B;
//$off-black: #1C1C1C;

$grey: #AEAEAE;
$grey2: #E7E7E7;
$grey3: #F8F8F8;


$dark-grey2: #808080;

$off-dark-grey: #FAFAFB;

$light-grey: #F2F2F2;
$expand-grey: #BFC1C3;
$white: #FFFFFF;
$light: #f8f9fa;
$off-white: #F0F0F0;
$pink: #FF5B89;
$purple: #9594D4;
$background: #f4f6f9;

$red: #FF5C5C;
$warning: #CC3300;

$green: #00CC99;

$purple: #2C1B3D;

$blue: #0099CC;
$primary: #55C1FF;
$primary-2: #3CD3EC;
$off-blue: #e8f3f8;

$light-green: #B6E389;
$yellow: #FFD40C;*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.text-primary {
  color: #43C6BA !important; }

.text-grey {
  color: #757575 !important; }

.text-light-grey {
  color: #B2B2B2 !important; }

.text-light-green {
  color: rgba(67, 198, 186, 0.15) !important; }

.text-black {
  color: #000000 !important; }

.text-dark-grey {
  color: #545454 !important; }

.text-white {
  color: #FFFFFF !important; }

.text-yellow {
  color: #FFE261 !important; }

.bg-primary {
  background-color: #43C6BA !important; }

.bg-grey {
  background-color: #757575 !important; }

.bg-light-grey {
  background-color: #B2B2B2 !important; }

.bg-light-green {
  background-color: rgba(67, 198, 186, 0.15) !important; }

.bg-black {
  background-color: #000000 !important; }

.bg-dark-grey {
  background-color: #545454 !important; }

.bg-white {
  background-color: #FFFFFF !important; }

.bg-yellow {
  background-color: #FFE261 !important; }

.flex {
  display: flex; }

.align-right {
  margin-left: auto; }

.align-left {
  margin-right: auto; }

.align-right {
  margin-left: auto; }

.align-left {
  margin-right: auto; }

@media (min-width: 768px) {
  .flex {
    display: flex; }
  .align-right-desktop {
    margin-left: auto; }
  .align-left-desktop {
    margin-right: auto; } }

@media (min-width: 768px) {
  .flex {
    display: flex; }
  .align-right-mobile {
    margin-left: auto; }
  .align-left-mobile {
    margin-right: auto; } }

.data-form {
  /*min-width: 60vw;*/ }
  .data-form .response {
    margin-bottom: 10px; }
    .data-form .response label {
      font-size: 14px;
      color: rgba(46, 46, 46, 0.4); }
    .data-form .response input, .data-form .response textarea {
      background-color: transparent;
      border: none;
      padding-left: 12px;
      padding-right: 6px;
      padding-top: 6px;
      padding-bottom: 4px;
      border-bottom: 1px solid #000;
      outline: none; }

.form-input {
  padding-bottom: 20px;
  display: block; }
  .form-input label {
    color: #313943;
    font-size: 16px;
    font-weight: 500; }
  .form-input input, .form-input textarea, .form-input select {
    width: 100%;
    font-size: 16px;
    display: block;
    padding: 6px 15px; }

.shadow-input {
  background: #FFFFFF;
  box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  border-radius: 6px;
  border: none; }

/*$black: #1B1B1B;*/
/*$black: #1B1B1B;
//$off-black: #1C1C1C;

$grey: #AEAEAE;
$grey2: #E7E7E7;
$grey3: #F8F8F8;


$dark-grey2: #808080;

$off-dark-grey: #FAFAFB;

$light-grey: #F2F2F2;
$expand-grey: #BFC1C3;
$white: #FFFFFF;
$light: #f8f9fa;
$off-white: #F0F0F0;
$pink: #FF5B89;
$purple: #9594D4;
$background: #f4f6f9;

$red: #FF5C5C;
$warning: #CC3300;

$green: #00CC99;

$purple: #2C1B3D;

$blue: #0099CC;
$primary: #55C1FF;
$primary-2: #3CD3EC;
$off-blue: #e8f3f8;

$light-green: #B6E389;
$yellow: #FFD40C;*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.flex .header {
  align-items: center;
  justify-content: center; }

.topnav {
  background-image: linear-gradient(-180deg, #0047ba 1%, #1a61d4 100%);
  height: 100px;
  box-sizing: border-box;
  padding: 25px 12vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; }
  .topnav ul {
    position: absolute;
    right: 12vw;
    top: 32px;
    padding-left: 0; }
  .topnav li {
    display: inline-block;
    margin: 0 15px;
    color: white; }
    .topnav li a, .topnav li span {
      text-decoration: none;
      color: white;
      letter-spacing: 0.43px;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      padding-bottom: 5px;
      border-bottom: 2px solid transparent;
      cursor: pointer; }
      .topnav li a:hover, .topnav li span:hover {
        border-bottom-color: white; }

.h2 {
  color: #313943;
  font-size: 24px; }

.h3 {
  color: #545454;
  font-size: 18px;
  font-weight: 500; }

.h4 {
  font-size: 14px; }

.h1 {
  font-size: 30px;
  letter-spacing: 0; }

h1 bold {
  font-weight: 900; }

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

/*$black: #1B1B1B;*/
/*$black: #1B1B1B;
//$off-black: #1C1C1C;

$grey: #AEAEAE;
$grey2: #E7E7E7;
$grey3: #F8F8F8;


$dark-grey2: #808080;

$off-dark-grey: #FAFAFB;

$light-grey: #F2F2F2;
$expand-grey: #BFC1C3;
$white: #FFFFFF;
$light: #f8f9fa;
$off-white: #F0F0F0;
$pink: #FF5B89;
$purple: #9594D4;
$background: #f4f6f9;

$red: #FF5C5C;
$warning: #CC3300;

$green: #00CC99;

$purple: #2C1B3D;

$blue: #0099CC;
$primary: #55C1FF;
$primary-2: #3CD3EC;
$off-blue: #e8f3f8;

$light-green: #B6E389;
$yellow: #FFD40C;*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.input {
  background: #FFFFFF;
  box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  color: #313943;
  padding: 13px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  /*font-weight: 600;*/ }
  .input::placeholder {
    color: #AEAEAE;
    font-weight: 400; }
  .input-ms-input-placeholder {
    color: #AEAEAE;
    font-weight: 400; }
  .input:-webkit-input-placeholder {
    color: #AEAEAE;
    font-weight: 400; }

.grey-input {
  background-color: #f2f2f2;
  border: 1px solid #eaeaea;
  border-radius: 4px; }

input[type="radio"].yes-no-checkbox {
  display: none; }

label.yes-no-checkbox {
  padding: 10px 80px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: inline-block;
  background-color: #eef0f3;
  color: #4c5871; }

input[type="radio"]:checked.yes-no-checkbox + label {
  cursor: default;
  background-color: #0099cc;
  color: #fff !important; }

.search-bar {
  position: relative; }
  .search-bar i.material-icons {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #545454;
    font-size: 26px; }
  .search-bar .input {
    padding: 13px 55px;
    font-size: 18px;
    font-weight: 100;
    width: 100%;
    border: none; }

.custom-control.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #55C1FF;
  background-color: #55C1FF; }

.input-group input {
  border: none; }

.input-group .input-group-prepend .input-group-text, .input-group .input-group-append .input-group-text {
  background: #FFE261;
  color: #194952;
  border: none; }

.input-group .input-group-prepend ~ .form-control, .input-group .input-group-append ~ .form-control {
  margin-left: 0; }

/*$black: #1B1B1B;*/
/*$black: #1B1B1B;
//$off-black: #1C1C1C;

$grey: #AEAEAE;
$grey2: #E7E7E7;
$grey3: #F8F8F8;


$dark-grey2: #808080;

$off-dark-grey: #FAFAFB;

$light-grey: #F2F2F2;
$expand-grey: #BFC1C3;
$white: #FFFFFF;
$light: #f8f9fa;
$off-white: #F0F0F0;
$pink: #FF5B89;
$purple: #9594D4;
$background: #f4f6f9;

$red: #FF5C5C;
$warning: #CC3300;

$green: #00CC99;

$purple: #2C1B3D;

$blue: #0099CC;
$primary: #55C1FF;
$primary-2: #3CD3EC;
$off-blue: #e8f3f8;

$light-green: #B6E389;
$yellow: #FFD40C;*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.label {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0px;
  color: #545454; }
  .label.required::after {
    content: '*';
    margin-right: 4px;
    color: red; }
  .label.large {
    font-size: 18px; }

.p-label {
  color: #4c5871;
  font-size: 18px; }

/*$black: #1B1B1B;*/
/*$black: #1B1B1B;
//$off-black: #1C1C1C;

$grey: #AEAEAE;
$grey2: #E7E7E7;
$grey3: #F8F8F8;


$dark-grey2: #808080;

$off-dark-grey: #FAFAFB;

$light-grey: #F2F2F2;
$expand-grey: #BFC1C3;
$white: #FFFFFF;
$light: #f8f9fa;
$off-white: #F0F0F0;
$pink: #FF5B89;
$purple: #9594D4;
$background: #f4f6f9;

$red: #FF5C5C;
$warning: #CC3300;

$green: #00CC99;

$purple: #2C1B3D;

$blue: #0099CC;
$primary: #55C1FF;
$primary-2: #3CD3EC;
$off-blue: #e8f3f8;

$light-green: #B6E389;
$yellow: #FFD40C;*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.ph-item {
  direction: ltr;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /*    padding: $ph-gutter ($ph-gutter / 2) ($ph-gutter - $ph-spacer) ($ph-gutter / 2);*/
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px; }
  .ph-item, .ph-item *,
  .ph-item ::after, .ph-item ::before {
    box-sizing: border-box; }
  .ph-item::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 1;
    width: 500%;
    margin-left: -250%;
    animation: phAnimation 0.8s linear infinite;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 54%) 50% 50%; }
  .ph-item > * {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    /*padding-right: ($ph-gutter / 2);
        padding-left: ($ph-gutter / 2);*/ }
  .ph-item .ph-body {
    padding: 2rem; }
  .ph-item .ph-row {
    display: flex;
    flex-wrap: wrap;
    /*margin-bottom: ($ph-spacer / 2);*/ }
    .ph-item .ph-row div {
      height: 15px;
      margin-bottom: 7.5px;
      background-color: #757575; }
    .ph-item .ph-row .big,
    .ph-item .ph-row.big div {
      height: 20px;
      margin-bottom: 15px; }
    .ph-item .ph-row .small,
    .ph-item .ph-row.small div {
      height: 10px;
      margin-bottom: 15px; }
    .ph-item .ph-row .empty {
      background-color: rgba(255, 255, 255, 0); }
  .ph-item .ph-avatar {
    position: relative;
    width: 100%;
    min-width: 60px;
    background-color: #757575;
    margin-bottom: 15px;
    border-radius: 50%;
    overflow: hidden; }
    .ph-item .ph-avatar::before {
      content: " ";
      display: block;
      padding-top: 100%; }
  .ph-item .ph-picture {
    width: 100%;
    height: 120px;
    background-color: #757575;
    /*    margin-bottom: $ph-spacer;*/ }
  .ph-item .ph-col-1 {
    flex: 0 0 8.33333%; }
  .ph-item .ph-col-2 {
    flex: 0 0 16.66667%; }
  .ph-item .ph-col-3 {
    flex: 0 0 25%; }
  .ph-item .ph-col-4 {
    flex: 0 0 33.33333%; }
  .ph-item .ph-col-5 {
    flex: 0 0 41.66667%; }
  .ph-item .ph-col-6 {
    flex: 0 0 50%; }
  .ph-item .ph-col-7 {
    flex: 0 0 58.33333%; }
  .ph-item .ph-col-8 {
    flex: 0 0 66.66667%; }
  .ph-item .ph-col-9 {
    flex: 0 0 75%; }
  .ph-item .ph-col-10 {
    flex: 0 0 83.33333%; }
  .ph-item .ph-col-11 {
    flex: 0 0 91.66667%; }
  .ph-item .ph-col-12 {
    flex: 0 0 100%; }

@keyframes phAnimation {
  0% {
    transform: translate3d(-30%, 0, 0); }
  100% {
    transform: translate3d(30%, 0, 0); } }

.line {
  height: 1px;
  background-color: #dee3e9; }

/*$black: #1B1B1B;*/
/*$black: #1B1B1B;
//$off-black: #1C1C1C;

$grey: #AEAEAE;
$grey2: #E7E7E7;
$grey3: #F8F8F8;


$dark-grey2: #808080;

$off-dark-grey: #FAFAFB;

$light-grey: #F2F2F2;
$expand-grey: #BFC1C3;
$white: #FFFFFF;
$light: #f8f9fa;
$off-white: #F0F0F0;
$pink: #FF5B89;
$purple: #9594D4;
$background: #f4f6f9;

$red: #FF5C5C;
$warning: #CC3300;

$green: #00CC99;

$purple: #2C1B3D;

$blue: #0099CC;
$primary: #55C1FF;
$primary-2: #3CD3EC;
$off-blue: #e8f3f8;

$light-green: #B6E389;
$yellow: #FFD40C;*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.landing-navbar.navbar {
  min-width: 100%;
  padding: 20px 12vw;
  background-color: #43C6BA; }
  .landing-navbar.navbar .navbar-brand img {
    height: 30px; }
  .landing-navbar.navbar .navbar-nav .nav-item .nav-link {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 14px;
    color: #FFFFFF;
    position: relative; }
    .landing-navbar.navbar .navbar-nav .nav-item .nav-link:hover {
      /*background-color: rgba(255, 255, 255, 0.1);*/ }
      .landing-navbar.navbar .navbar-nav .nav-item .nav-link:hover::after {
        width: 100%; }
    .landing-navbar.navbar .navbar-nav .nav-item .nav-link::after {
      content: '';
      background: #fff;
      height: 2px;
      width: 0px;
      -webkit-transition: width .3s;
      transition: width .3s;
      display: block;
      position: absolute;
      bottom: -6px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }

@media (min-width: 768px) {
  .landing-navbar.navbar .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important; }
    .landing-navbar.navbar .navbar-nav .nav-item .nav-link {
      font-size: 14px;
      padding: 10px 25px;
      color: #FFFFFF; }
      .landing-navbar.navbar .navbar-nav .nav-item .nav-link:hover {
        /*                        background-color: rgba(255, 255, 255, 0.1);*/ }
    .landing-navbar.navbar .navbar-nav .nav-item:nth-last-child(2) {
      margin-right: 50px; }
    .landing-navbar.navbar .navbar-nav .nav-item .btn {
      padding: 10px 40px;
      border: 0; } }

@media only screen and (max-width: 767.98px) {
  .landing-navbar.navbar .navbar-nav {
    padding-top: 15px; }
    .landing-navbar.navbar .navbar-nav .nav-item {
      padding: 10px 0px; }
      .landing-navbar.navbar .navbar-nav .nav-item .nav-link {
        font-size: 16px;
        padding: 0px; } }

/*$black: #1B1B1B;*/
/*$black: #1B1B1B;
//$off-black: #1C1C1C;

$grey: #AEAEAE;
$grey2: #E7E7E7;
$grey3: #F8F8F8;


$dark-grey2: #808080;

$off-dark-grey: #FAFAFB;

$light-grey: #F2F2F2;
$expand-grey: #BFC1C3;
$white: #FFFFFF;
$light: #f8f9fa;
$off-white: #F0F0F0;
$pink: #FF5B89;
$purple: #9594D4;
$background: #f4f6f9;

$red: #FF5C5C;
$warning: #CC3300;

$green: #00CC99;

$purple: #2C1B3D;

$blue: #0099CC;
$primary: #55C1FF;
$primary-2: #3CD3EC;
$off-blue: #e8f3f8;

$light-green: #B6E389;
$yellow: #FFD40C;*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.file-upload {
  width: 100%;
  height: 150px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  background-color: #f2f2f2;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #eaeaea;
  color: #aeaeae;
  padding: 40px 45px;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0 auto;
  position: relative; }
  .file-upload input {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    opacity: 0; }
  .file-upload .file-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .file-upload .file-overlay i.material-icons {
      display: block; }
    .file-upload .file-overlay span {
      font-size: 16px;
      margin-top: 5px; }
    .file-upload .file-overlay .icon {
      font-size: 40px;
      display: block;
      margin: auto; }

.profile-photo-upload a {
  color: #43C6BA; }
  .profile-photo-upload a:hover {
    text-decoration: underline; }

.profile-photo-upload input {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  opacity: 0; }

.scrollbar-thin::-webkit-scrollbar {
  width: 6px; }

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px; }

.scrollbar-thin::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px; }

/*$black: #1B1B1B;*/
/*$black: #1B1B1B;
//$off-black: #1C1C1C;

$grey: #AEAEAE;
$grey2: #E7E7E7;
$grey3: #F8F8F8;


$dark-grey2: #808080;

$off-dark-grey: #FAFAFB;

$light-grey: #F2F2F2;
$expand-grey: #BFC1C3;
$white: #FFFFFF;
$light: #f8f9fa;
$off-white: #F0F0F0;
$pink: #FF5B89;
$purple: #9594D4;
$background: #f4f6f9;

$red: #FF5C5C;
$warning: #CC3300;

$green: #00CC99;

$purple: #2C1B3D;

$blue: #0099CC;
$primary: #55C1FF;
$primary-2: #3CD3EC;
$off-blue: #e8f3f8;

$light-green: #B6E389;
$yellow: #FFD40C;*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.select {
  background-color: white;
  color: #313943;
  padding: 13px 20px;
  font-size: 16px;
  border: solid 1px #dee3e9;
  border-radius: 6px;
  font-weight: 600; }

.ss-multi-selected {
  background-color: #B2B2B2 !important;
  border: 1px solid #eaeaea !important;
  border-radius: 4px !important;
  padding: 3px 15px !important; }

.sidebar {
  background-color: #1B1B1B;
  color: white; }
  .sidebar .top-row {
    padding: 48px 0px;
    display: flex;
    align-items: center; }
  .sidebar .navbar-brand {
    width: 55%;
    margin: auto;
    font-size: 1.1rem; }
    .sidebar .navbar-brand > img {
      width: 100%; }
  .sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px; }
  .sidebar .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem; }
    .sidebar .nav-item:first-of-type {
      padding-top: 1rem; }
    .sidebar .nav-item:last-of-type {
      padding-bottom: 1rem; }
    .sidebar .nav-item a {
      /*color: #d7d7d7;*/
      color: white;
      border-radius: 4px;
      height: 3rem;
      display: flex;
      align-items: center;
      line-height: 3rem; }
      .sidebar .nav-item a i.material-icons {
        margin-right: 15px; }
    .sidebar .nav-item a.active {
      background-color: #55C1FF;
      color: white; }
    .sidebar .nav-item a:hover {
      background-color: rgba(255, 255, 255, 0.1);
      color: white; }
    .sidebar .nav-item a.active:hover {
      background-color: rgba(85, 193, 255, 0.8); }

@media (min-width: 768px) {
  .sidebar {
    width: 240px;
    height: 100vh;
    position: sticky;
    top: 0; }
    .sidebar .collapse {
      /* Never collapse the sidebar for wide screens */
      display: block; }
    .sidebar .navbar-toggler {
      display: none; }
    .sidebar .top-row {
      position: sticky;
      top: 0; } }

/*$black: #1B1B1B;*/
/*$black: #1B1B1B;
//$off-black: #1C1C1C;

$grey: #AEAEAE;
$grey2: #E7E7E7;
$grey3: #F8F8F8;


$dark-grey2: #808080;

$off-dark-grey: #FAFAFB;

$light-grey: #F2F2F2;
$expand-grey: #BFC1C3;
$white: #FFFFFF;
$light: #f8f9fa;
$off-white: #F0F0F0;
$pink: #FF5B89;
$purple: #9594D4;
$background: #f4f6f9;

$red: #FF5C5C;
$warning: #CC3300;

$green: #00CC99;

$purple: #2C1B3D;

$blue: #0099CC;
$primary: #55C1FF;
$primary-2: #3CD3EC;
$off-blue: #e8f3f8;

$light-green: #B6E389;
$yellow: #FFD40C;*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.user-initials {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: #43C6BA; }
  .user-initials .material-icons {
    margin-top: 5px; }

.user-avatar {
  width: 35px;
  height: 35px; }
  .user-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-position: center; }

/*$black: #1B1B1B;*/
/*$black: #1B1B1B;
//$off-black: #1C1C1C;

$grey: #AEAEAE;
$grey2: #E7E7E7;
$grey3: #F8F8F8;


$dark-grey2: #808080;

$off-dark-grey: #FAFAFB;

$light-grey: #F2F2F2;
$expand-grey: #BFC1C3;
$white: #FFFFFF;
$light: #f8f9fa;
$off-white: #F0F0F0;
$pink: #FF5B89;
$purple: #9594D4;
$background: #f4f6f9;

$red: #FF5C5C;
$warning: #CC3300;

$green: #00CC99;

$purple: #2C1B3D;

$blue: #0099CC;
$primary: #55C1FF;
$primary-2: #3CD3EC;
$off-blue: #e8f3f8;

$light-green: #B6E389;
$yellow: #FFD40C;*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.table thead th {
  border-bottom: 1px solid #757575;
  color: #757575;
  font-weight: 400; }

.table tbody td {
  font-weight: 500; }

/*$black: #1B1B1B;*/
/*$black: #1B1B1B;
//$off-black: #1C1C1C;

$grey: #AEAEAE;
$grey2: #E7E7E7;
$grey3: #F8F8F8;


$dark-grey2: #808080;

$off-dark-grey: #FAFAFB;

$light-grey: #F2F2F2;
$expand-grey: #BFC1C3;
$white: #FFFFFF;
$light: #f8f9fa;
$off-white: #F0F0F0;
$pink: #FF5B89;
$purple: #9594D4;
$background: #f4f6f9;

$red: #FF5C5C;
$warning: #CC3300;

$green: #00CC99;

$purple: #2C1B3D;

$blue: #0099CC;
$primary: #55C1FF;
$primary-2: #3CD3EC;
$off-blue: #e8f3f8;

$light-green: #B6E389;
$yellow: #FFD40C;*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.btn-toggle {
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #bdc1c8; }
  .btn-toggle.btn-toggle-onoff {
    margin: 0 4rem; }

.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none; }

.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s; }

.btn-toggle > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s; }

.btn-toggle.active {
  transition: background-color 0.25s; }

.btn-toggle.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s; }

.btn-toggle.active:before {
  opacity: 0.5; }

.btn-toggle.active:after {
  opacity: 1; }

.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem; }

.btn-toggle.btn-sm:before {
  text-align: right; }

.btn-toggle.btn-sm:after {
  text-align: left;
  opacity: 0; }

.btn-toggle.btn-sm.active:before {
  opacity: 0; }

.btn-toggle.btn-sm.active:after {
  opacity: 1; }

.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  display: none; }

.btn-toggle:before,
.btn-toggle:after {
  color: #6b7381; }

.btn-toggle.active {
  background-color: #43C6BA; }

.btn-toggle.btn-lg {
  padding: 0;
  position: relative;
  border: none;
  height: 2.5rem;
  width: 5rem;
  border-radius: 2.5rem; }
  .btn-toggle.btn-lg.btn-toggle-onoff {
    margin: 0 5rem; }

.btn-toggle.btn-lg:focus,
.btn-toggle.btn-lg.focus,
.btn-toggle.btn-lg:focus.active,
.btn-toggle.btn-lg.focus.active {
  outline: none; }

.btn-toggle.btn-lg:before,
.btn-toggle.btn-lg:after {
  line-height: 2.5rem;
  width: 5rem;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s; }

.btn-toggle.btn-lg > .handle {
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 1.875rem;
  background: #fff;
  transition: left 0.25s; }

.btn-toggle.btn-lg.active {
  transition: background-color 0.25s; }

.btn-toggle.btn-lg.active > .handle {
  left: 2.8125rem;
  transition: left 0.25s; }

.btn-toggle.btn-lg.active:before {
  opacity: 0.5; }

.btn-toggle.btn-lg.active:after {
  opacity: 1; }

.btn-toggle.btn-lg.btn-sm:before,
.btn-toggle.btn-lg.btn-sm:after {
  line-height: 0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.6875rem;
  width: 3.875rem; }

.btn-toggle.btn-lg.btn-sm:before {
  text-align: right; }

.btn-toggle.btn-lg.btn-sm:after {
  text-align: left;
  opacity: 0; }

.btn-toggle.btn-lg.btn-sm.active:before {
  opacity: 0; }

.btn-toggle.btn-lg.btn-sm.active:after {
  opacity: 1; }

.btn-toggle.btn-lg.btn-xs:before,
.btn-toggle.btn-lg.btn-xs:after {
  display: none; }

.btn-toggle.btn-sm {
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem; }
  .btn-toggle.btn-sm.btn-toggle-onoff {
    margin: 0 0.5rem; }

.btn-toggle.btn-sm:focus,
.btn-toggle.btn-sm.focus,
.btn-toggle.btn-sm:focus.active,
.btn-toggle.btn-sm.focus.active {
  outline: none; }

.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: 1.5rem;
  width: 0.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.55rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s; }

.btn-toggle.btn-sm > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s; }

.btn-toggle.btn-sm.active {
  transition: background-color 0.25s; }

.btn-toggle.btn-sm.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s; }

.btn-toggle.btn-sm.active:before {
  opacity: 0.5; }

.btn-toggle.btn-sm.active:after {
  opacity: 1; }

.btn-toggle.btn-sm.btn-sm:before,
.btn-toggle.btn-sm.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem; }

.btn-toggle.btn-sm.btn-sm:before {
  text-align: right; }

.btn-toggle.btn-sm.btn-sm:after {
  text-align: left;
  opacity: 0; }

.btn-toggle.btn-sm.btn-sm.active:before {
  opacity: 0; }

.btn-toggle.btn-sm.btn-sm.active:after {
  opacity: 1; }

.btn-toggle.btn-sm.btn-xs:before,
.btn-toggle.btn-sm.btn-xs:after {
  display: none; }

.btn-toggle.btn-xs {
  padding: 0;
  position: relative;
  border: none;
  height: 1rem;
  width: 2rem;
  border-radius: 1rem; }
  .btn-toggle.btn-xs.btn-toggle-onoff {
    margin: 0 0; }

.btn-toggle.btn-xs:focus,
.btn-toggle.btn-xs.focus,
.btn-toggle.btn-xs:focus.active,
.btn-toggle.btn-xs.focus.active {
  outline: none; }

.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  line-height: 1rem;
  width: 0;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s; }

.btn-toggle.btn-xs > .handle {
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.75rem;
  background: #fff;
  transition: left 0.25s; }

.btn-toggle.btn-xs.active {
  transition: background-color 0.25s; }

.btn-toggle.btn-xs.active > .handle {
  left: 1.125rem;
  transition: left 0.25s; }

.btn-toggle.btn-xs.active:before {
  opacity: 0.5; }

.btn-toggle.btn-xs.active:after {
  opacity: 1; }

.btn-toggle.btn-xs.btn-sm:before,
.btn-toggle.btn-xs.btn-sm:after {
  line-height: -1rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.275rem;
  width: 1.55rem; }

.btn-toggle.btn-xs.btn-sm:before {
  text-align: right; }

.btn-toggle.btn-xs.btn-sm:after {
  text-align: left;
  opacity: 0; }

.btn-toggle.btn-xs.btn-sm.active:before {
  opacity: 0; }

.btn-toggle.btn-xs.btn-sm.active:after {
  opacity: 1; }

.btn-toggle.btn-xs.btn-xs:before,
.btn-toggle.btn-xs.btn-xs:after {
  display: none; }

.btn-toggle.btn-secondary {
  color: #6b7381;
  background: #bdc1c8; }

.btn-toggle.btn-secondary:before,
.btn-toggle.btn-secondary:after {
  color: #6b7381; }

.btn-toggle.btn-secondary.active {
  background-color: #ff8300; }

.btn-toggle.btn-toggle-onoff:before {
  content: 'Off';
  left: -4rem; }

.btn-toggle.btn-toggle-onoff:after {
  content: 'On';
  right: -4rem;
  opacity: 0.5; }

.btn-toggle.btn-lg.btn-toggle-onoff:before {
  content: 'Off';
  left: -5rem; }

.btn-toggle.btn-lg.btn-toggle-onoff:after {
  content: 'On';
  right: -5rem;
  opacity: 0.5; }

.btn-toggle.btn-sm.btn-toggle-onoff:before {
  content: 'Off';
  left: -0.5rem; }

.btn-toggle.btn-sm.btn-toggle-onoff:after {
  content: 'On';
  right: -0.5rem;
  opacity: 0.5; }

.btn-toggle.btn-xs.btn-toggle-onoff:before {
  content: 'Off';
  left: 0; }

.btn-toggle.btn-xs.btn-toggle-onoff:after {
  content: 'On';
  right: 0;
  opacity: 0.5; }

/*$black: #1B1B1B;*/
/*$black: #1B1B1B;
//$off-black: #1C1C1C;

$grey: #AEAEAE;
$grey2: #E7E7E7;
$grey3: #F8F8F8;


$dark-grey2: #808080;

$off-dark-grey: #FAFAFB;

$light-grey: #F2F2F2;
$expand-grey: #BFC1C3;
$white: #FFFFFF;
$light: #f8f9fa;
$off-white: #F0F0F0;
$pink: #FF5B89;
$purple: #9594D4;
$background: #f4f6f9;

$red: #FF5C5C;
$warning: #CC3300;

$green: #00CC99;

$purple: #2C1B3D;

$blue: #0099CC;
$primary: #55C1FF;
$primary-2: #3CD3EC;
$off-blue: #e8f3f8;

$light-green: #B6E389;
$yellow: #FFD40C;*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

body {
  font-family: 'Dosis', sans-serif; }

.home-layout {
  width: 100vw; }
  .home-layout .content {
    min-width: 100%; }

.social-media {
  margin-right: 10px; }
  .social-media:hover {
    text-decoration: none; }
  .social-media img {
    border-radius: 100%;
    width: 32px; }
    .social-media img:hover {
      opacity: 0.8; }

/*$black: #1B1B1B;*/
/*$black: #1B1B1B;
//$off-black: #1C1C1C;

$grey: #AEAEAE;
$grey2: #E7E7E7;
$grey3: #F8F8F8;


$dark-grey2: #808080;

$off-dark-grey: #FAFAFB;

$light-grey: #F2F2F2;
$expand-grey: #BFC1C3;
$white: #FFFFFF;
$light: #f8f9fa;
$off-white: #F0F0F0;
$pink: #FF5B89;
$purple: #9594D4;
$background: #f4f6f9;

$red: #FF5C5C;
$warning: #CC3300;

$green: #00CC99;

$purple: #2C1B3D;

$blue: #0099CC;
$primary: #55C1FF;
$primary-2: #3CD3EC;
$off-blue: #e8f3f8;

$light-green: #B6E389;
$yellow: #FFD40C;*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.footer {
  background-color: #194952; }
  .footer .navigation > a {
    color: #FFE261;
    line-height: 26px;
    font-weight: 600;
    display: block; }
  .footer .navigation-green > a {
    color: #43C6BA; }

@media only screen and (min-width: 768px) {
  .footer .container-xl:nth-child(1) {
    padding: 4rem 0rem; } }

/*$black: #1B1B1B;*/
/*$black: #1B1B1B;
//$off-black: #1C1C1C;

$grey: #AEAEAE;
$grey2: #E7E7E7;
$grey3: #F8F8F8;


$dark-grey2: #808080;

$off-dark-grey: #FAFAFB;

$light-grey: #F2F2F2;
$expand-grey: #BFC1C3;
$white: #FFFFFF;
$light: #f8f9fa;
$off-white: #F0F0F0;
$pink: #FF5B89;
$purple: #9594D4;
$background: #f4f6f9;

$red: #FF5C5C;
$warning: #CC3300;

$green: #00CC99;

$purple: #2C1B3D;

$blue: #0099CC;
$primary: #55C1FF;
$primary-2: #3CD3EC;
$off-blue: #e8f3f8;

$light-green: #B6E389;
$yellow: #FFD40C;*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.landing {
  overflow-x: hidden; }
  .landing .logo {
    padding: 32px 0 0 96px;
    width: 55px; }
  .landing .yellow-text {
    color: #FFE261; }
  .landing .top-photos {
    /*margin: 0;
        padding: 0px;
        //width: 100vw;
        width: calc(100% + calc(100vw - 100%));
        right: 0px;
        overflow-x: hidden;
        max-width: 100%;*/ }
  .landing .bottom-photos {
    position: absolute;
    top: 2048px;
    width: 100vw;
    max-width: 100%; }
  .landing .img-spread {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15); }
  .landing .img-round {
    border-radius: 8px; }
  .landing .img-right {
    border-radius: 8px 0px 0px 8px; }
  .landing .img-bottom {
    border-radius: 8px 8px 0px 0px; }
  .landing .main-landing {
    background-color: #194952;
    width: 100%;
    height: 1024px;
    max-width: 100%;
    overflow: hidden;
    margin: 0;
    position: relative; }
    .landing .main-landing .welcome-section {
      background-color: #194952;
      padding: 195px 0px 0px 10%; }
    .landing .main-landing .welcome-text {
      color: #FFE261;
      font-size: 80px;
      line-height: 90px;
      font-family: 'Dosis';
      text-transform: uppercase;
      font-weight: 600;
      width: 436px;
      padding-bottom: 38px; }
    .landing .main-landing .tagline {
      color: #F6FFFF;
      font-size: 28px;
      font-family: 'Open Sans';
      font-weight: 500;
      padding-bottom: 38px;
      width: 563px; }
    .landing .main-landing--img-container {
      text-align: right;
      width: 64%;
      margin-left: 41%;
      position: absolute;
      overflow: hidden;
      margin-top: -95px; }
      .landing .main-landing--img-container .random-photo {
        max-height: 300px;
        max-width: 300px;
        border-radius: 8px;
        margin: 8px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15); }
  .landing .button-styling {
    background-color: #43C6BA;
    color: #FFE261;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0;
    border: 0;
    font-weight: 500; }
  .landing .start-button {
    width: 195px;
    height: 48px;
    text-decoration: none;
    padding: 10px 20px;
    outline: none; }
  .landing .browse-button {
    width: 330px;
    height: 48px;
    text-decoration: none;
    line-height: 48px; }
  .landing .steps {
    width: 100%;
    display: flex;
    padding: 80px 20px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #194952;
    font-family: 'Dosis';
    font-size: 50px;
    font-weight: 500;
    align-items: center; }
    .landing .steps a {
      color: unset; }
    .landing .steps--container {
      display: flex;
      flex-wrap: wrap; }
      .landing .steps--container > div {
        max-height: 320px;
        max-width: 200px;
        padding: 40px 20px 20px 20px;
        text-align: center;
        border-radius: 4px;
        border: 2px solid #FFE261;
        background-color: #FFFFFF;
        margin: 30px 15px; }
        .landing .steps--container > div p {
          font-size: 16px; }
        .landing .steps--container > div h4 {
          font-size: 22px; }
        .landing .steps--container > div img {
          height: 80px; }
      .landing .steps--container .arrow {
        height: 40px;
        margin-left: -32px;
        margin-right: -32px;
        margin-top: 16%;
        z-index: 10; }
        @media screen and (max-width: 1115px) {
          .landing .steps--container .arrow {
            display: none; } }
  .landing .subt-1 {
    font-size: 25px;
    color: #43C6BA;
    font-family: 'Dosis';
    font-weight: 500; }
  .landing .browse {
    width: 100%;
    height: 638px;
    background-color: rgba(255, 226, 97, 0.17);
    position: relative;
    overflow: hidden; }
    .landing .browse--content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      align-items: center;
      position: absolute;
      left: 30%;
      right: 30%;
      margin-top: 138px; }
    .landing .browse--img-container {
      height: 120%;
      position: absolute;
      /*display: flex;
            flex-wrap: wrap;*/ }
      .landing .browse--img-container.right {
        width: 40%;
        margin-left: 66%;
        text-align: right; }
      .landing .browse--img-container.left {
        width: 40%; }
    .landing .browse .random-photo {
      max-height: 300px;
      max-width: 40%;
      border-radius: 8px;
      margin: -10px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15); }
      .landing .browse .random-photo:nth-child(even) {
        margin-bottom: 20px; }
  .landing .subt-2 {
    font-family: 'Dosis';
    font-size: 20px;
    color: #43C6BA;
    padding-bottom: 10px; }
  .landing .subt-3 {
    font-size: 18px;
    font-family: 'Open Sans';
    color: #4A4A4A;
    width: 510px;
    padding-bottom: 60px; }
  .landing .subt-4 {
    font-size: 14px;
    font-family: 'Open Sans';
    color: #FF6060;
    padding-top: 10px; }
  .landing .landing-subtitle {
    color: #194952;
    font-size: 50px;
    font-family: 'Dosis';
    font-weight: 600;
    text-align: center;
    padding-bottom: 18px; }
  .landing .landing-subtext {
    font-size: 20px;
    font-family: 'Open Sans';
    color: #4A4A4A;
    padding: 27px;
    text-align: center;
    width: 570px; }
  .landing .footer {
    width: 100%;
    height: 300px;
    margin-bottom: 0px;
    background-color: #194952;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .landing .footer .links-nav {
      display: flex;
      flex-direction: row; }
    .landing .footer .navigation {
      display: flex;
      flex-direction: column;
      padding: 86px 50px 20px 50px; }
    .landing .footer .navigation a {
      font-family: 'Dosis';
      color: #FFE261;
      text-decoration: none;
      line-height: 26px;
      font-weight: 600; }
    .landing .footer .nav-sm a {
      color: #43C6BA; }
    .landing .footer .footer-right {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
    .landing .footer .code-enter {
      color: #FFE261;
      margin: 43px;
      font-size: 14px;
      line-height: 28px; }
    .landing .footer .code-enter-sub {
      display: flex; }
    .landing .footer .code-input {
      height: 40px;
      width: 160px;
      padding: 0 10px;
      border: 0;
      border-radius: 8px 0px 0px 8px;
      font-family: 'Open Sans';
      font-size: 20px;
      color: #757575;
      outline: none; }
    .landing .footer .code-button {
      font-family: 'Open Sans';
      color: #194952;
      font-size: 20px;
      background-color: #FFE261;
      border: 0;
      border-radius: 0px 8px 8px 0px;
      cursor: pointer;
      outline: none;
      text-decoration: none;
      padding: 6px 10px; }
    .landing .footer .bottom-logo {
      font-size: 20px;
      line-height: 28px;
      font-family: 'Dosis';
      color: #FFE261;
      font-weight: 500;
      display: flex;
      align-content: flex-end; }

@media screen and (max-width: 1230px) {
  .landing .subt-3 {
    width: 350px; } }

@media screen and (max-width: 877px) {
  .landing .random-photo {
    display: none; } }

@media screen and (max-width: 480px) {
  .landing {
    overflow-x: hidden; }
    .landing .landing-subtext {
      width: 100%;
      max-width: 400px;
      padding: 27px 0; }
    .landing .browse--content {
      left: 15px;
      right: 15px;
      margin-top: 50px; }
      .landing .browse--content .subt-3 {
        width: 100%; }
    .landing .browse {
      height: 500px; }
      .landing .browse--img-container {
        display: none; }
    .landing .steps {
      height: unset;
      padding: 20px 0;
      max-width: 400px; }
    .landing .main-landing {
      height: unset;
      padding-bottom: 30px; }
      .landing .main-landing .codePage__container__search {
        width: 100%;
        max-width: 200px; }
      .landing .main-landing .logo {
        padding: 18px 0 0 27px; }
      .landing .main-landing .welcome-section {
        padding: 28px 0 0 7%; }
        .landing .main-landing .welcome-section .welcome-text {
          font-size: 50px;
          width: 100%;
          max-width: 342px;
          height: 150px; }
        .landing .main-landing .welcome-section .tagline {
          width: 100%;
          max-width: 342px; }
      .landing .main-landing-subtext {
        max-width: 300px; }
      .landing .main-landing--img-container {
        display: none; }
    .landing .footer {
      flex-wrap: wrap;
      height: unset; }
      .landing .footer .navigation {
        padding: 50px 25px 8px 42px; } }

a {
  color: #43C6BA; }
