@{
    ViewData["Title"] = "About";
}
@{
    Layout = "~/Views/Shared/_Layout_Public.cshtml";
}

<div class="landing">

    <script>


        //    //let image = getRandomPhoto(83);
        //    console.log(image);


        //function getRandomInt(min, max) {
        //    return Math.floor(Math.random() * (max - min + 1) + min);
        //}

        ////let area = document.getElementsByClassName("main-landing")[0];
        //let getRandomPosition = (element) => {
        //    var x = document.body.offsetHeight - element.clientHeight;
        //    var y = document.body.offsetWidth - element.clientWidth;
        //    //var randomX = Math.floor(Math.random() * x);
        //    //var randomY = Math.floor(Math.random() * y);
        //    let coords = [getRandomInt(0, 900), getRandomInt(400, y)];
        //    console.log(coords);
        //    return coords;
        //}
        //let loadImages = () => {
        //    var img = document.createElement('img');
        //    img.setAttribute("style", "position:absolute; border-radius: 20px;");
        //    img.setAttribute("src", "http://via.placeholder.com/240x322");
        //    document.body.appendChild(img);
        //    var xy = getRandomPosition(img);
        //    img.style.top = xy[0] + 'px';
        //    img.style.left = xy[1] + 'px';
        //}

        //var counter = 0;
        //var interval = setInterval(function () {
        //    counter += 1;
        //    if (counter === 10) {
        //        clearInterval(interval);
        //    }
        //    loadImages();
        //}, 2000);

    </script>


    <div class="main-landing" ng-controller="PhotoCtrl">
        <div class="welcome-section">
            <div class="welcome-text">less faff, more snaps</div>
            <div class="tagline">Sell your photos quickly and easily online. No awkward details exchange.</div>
            <div><button class="button-styling start-button" ng-click="testMsg('hello')">Get Started</button></div>
        </div>
    </div>
    <div class="steps">
        <div class="landing-subtitle">
            Photo Taken, Now What?
        </div>
        <div class="landing-subtext">The burning question people have after having their photo taken, "Where do I get that photo?!" Well, we have the answer, for you, <i>and</i> them.</div>
        <div class="3-img">
            @*<img src="http://via.placeholder.com/330x260" /> <img src="http://via.placeholder.com/330x260" /> <img src="http://via.placeholder.com/330x260" />*@
        </div>
        <div class="subt-1">Easy as that, <font class="yellow-text">get started</font> now.</div>
    </div>
    <div class="bottom-photos">
        @*<img id="ph9" src="http://via.placeholder.com/176x260" class="img-spread img-round" />
            <img id="ph10" src="http://via.placeholder.com/272x305" class="img-spread img-round" />
            <img id="ph11" src="http://via.placeholder.com/525x135" class="img-spread img-round" />
            <img id="ph12" src="http://via.placeholder.com/323x189" class="img-spread img-round" />
            <img id="ph13" src="http://via.placeholder.com/218x189" class="img-spread img-round" />
            <img id="ph14" src="http://via.placeholder.com/300x179" class="img-spread img-round" />
            <img id="ph15" src="http://via.placeholder.com/115x276" class="img-spread img-round" />
            <img id="ph16" src="http://via.placeholder.com/259x280" class="img-spread img-round" />
            <img id="ph17" src="http://via.placeholder.com/205x178" class="img-spread img-round" />
            <img id="ph18" src="http://via.placeholder.com/225x179" class="img-spread img-round" />
            <img id="ph19" src="http://via.placeholder.com/362x189" class="img-spread img-round" />*@
    </div>
    <div class="browse">
        <div class="subt-2">Not a photographer?</div>
        <div class="landing-subtitle">Browse The Public Library</div>
        <div class="subt-3">Our photographers often have a collection of photos available to the public, take a look around, maybe you will find something you like!</div>
        <div><button class="button-styling browse-button">Browse The Library</button></div>
        <div class="subt-4">Already have a photo code?</div>
    </div>
    <!-- <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3> -->
    <div class="footer">
        <div class="links-nav">
            <div class="navigation">
                <a href="/">Library</a>
                <a href="/">About</a>
                <a href="/">Pricing</a>
                <a href="/">FAQ</a>
                <a href="/">Contact</a>
            </div>
            <div class="navigation">
                <a href="/">Sign Up / Sign In</a>
                <a href="/">Shipping</a>
                <a href="/">Pricing</a>
                <a href="/">Help</a>
            </div>
            <div class="navigation nav-sm">
                <a href="/">Twitter</a>
                <a href="/">Facebook</a>
                <a href="/">Instagram</a>
            </div>
        </div>
        <div class="footer-right">
            <div class="code-enter">
                Have a photo code? Enter it here!
                <div class="code-enter-sub"><input class="code-input" placeholder="123" /> <button class="code-button">Go!</button></div>
            </div>
            <div class="bottom-logo"></div>
        </div>
    </div>
</div>