@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Of Us Draft Sign In Page</title>
</head>
<body>
        <div>
            <div>
                <div id="api"></div>
            </div>
        </div>
</body>
</html>
